/*
 * author: lufei
 * date:2019/9/24
 */
 @charset "utf-8";

 #minePage{
   background-color: #f5f5f5;
   min-height: 100%;
  .content{
    margin-top:15px;
    overflow: hidden;
    // padding:15px;
    .toUse.overdue{
      .left{
        background-color: $cl9;
      }
      .mid{
        color: $cl9;
      }
      .right{
        .shopCoupon,.used{
          color: $cl9;
        }
      }
    }
    // .toUse.overdue{
    //   background-color: #A6A6A6;
    // }
    .toUse{
      box-sizing: border-box;
      background-color: $white;
      border-radius: 6px;
      @include displayFlex(flex, null, null);
      align-items:stretch;
      .left{
        width: 8px;
        background-color: $redLight;
        border-radius: 6px 0 0 6px;
      }
      .mid{
        text-align: center;
        width: 30%;
        padding:10px 5px;
        border-right: 1px dashed #bfbfbf;
        box-sizing: border-box;
        color: $redLight;
        position: relative;
        .price{
          // font-size: $fontSize + 21;
          @include font("PingFangBlod", $fontSize + 10, null);
        }
        .condition{
          white-space: nowrap;
          margin-top: 28px;
        }
        .circle{
          width: 10px;
          height: 10px;
          background-color: #f5f5f5;
          border-radius: 50%;
          position: absolute;
          right:-5px;
        }
        .circle.top{
          top:-5px;
        }
        .circle.bottom{
          bottom:-5px;
        }
      }
      .right{
        // width: 70%;
        flex-grow: 1;
        padding:10px;
        position: relative;
        .shop{
          margin-left: 70px;
          font-size: $fontSize + 2;
        }
        .time{
          margin-top:5px;
          font-size: $fontSize - 2;
          color: $cl9;
        }
        .desc{
          margin-top:40px;
        }
        .used{
          @include font("PingFangBlod", $fontSize + 46, $redLight);
          position: absolute;
          right:-8px;
          top: 50%;
          margin-top: -45px;
        }
        .shopCoupon{
          position: absolute;
          left: 5px;
          top: -10px;
          color:$redLight;
          display: inline-block;
          .icon{
            font-size: 70px;
          }
          .dianpu{
            color:$white;
            position: absolute;
            top:50%;
            left: 50%;
            margin-top: -12px;
            margin-left: -20px;
            font-size: 12px;
            white-space: nowrap;
          }
        }
      }
    }
  }
 }
