/*
 * author: nancyzeng
 * date:2019/4/22
 */

@charset "UTF-8";

#albumdetailPage {
  background-color: $greyLight;
  min-height: 100%;
  & .toMall {
    display: inline-block;
    // width: 65px;
    // height: 24px;
    border: 1px solid $redLight;
    line-height: normal;
    padding: 2px 5px;
    text-align: center;
    @include font(null, $fontSize - 2, $redLight);
    border-radius: 12px;
    margin-left: 5px;
  }

  & .toMall.btn {
    position: absolute;
    top: 45px;
    right: 5px;
  }

  & .toMall.red {
    background-color: $redLight;
    color: $white;
  }
  & .albumBox {
    @include textOverflow;
    @include displayFlex(flex, flex-start, center);
    margin-top: 5px;
    background-color: $white;
    padding: 10px;
    border-bottom: 1px #eee solid;

    & .ratioBox {
      flex-basis: 65px;
      padding-bottom: 65px;
      border-radius: 4px;
      overflow: hidden;
      flex-shrink: 0;
    }

    & .issue {
      flex-grow: 1;
      margin-left: 10px;
      @include textOverflow;

      & .title {
        @include font("PingFangBold", $fontSize + 2, #333);
        @include textOverflow;
      }

      & .info {
        margin-top: 20px;
        @include textOverflow;
        @include font(null, $fontSize - 1, #666);
      }

      & .img {
        & .icon {
          width: 22px;
          height: 22px;
          color: #e3e3e3;
        }
      }
    }

    & .action {
      flex-basis: 65px;
      flex-shrink: 0;

      & [class*=van-hairline]::after {
        border-color: #f05654;
      }

      & .van-tag::after {
        border-radius: 25px;
        overflow: hidden;
      }
    }
  }

  // 评论
  & .commentBox {
    background-color: $white;
    margin-top: 5px;

    & #commentTitle {
      top: 0;
      width: 100%;
      z-index: 1;
      background-color: $white;
      border-bottom: 1px $greyLight solid;
    }

    & .listBox {
      @include displayFlex (flex, center, flex-start);
      padding: 15px;
      background-color: $white;
      border-bottom: 1px $greyLight solid;

      & .left {
        @include flexBasis (35px);
        margin-right: 10px;
        margin-top: 5px;

        & .ratioBox {
          border-radius: 35px;
          overflow: hidden;
        }
      }

      & .center {
        display: block;

        & .title {
          @include font("PingFangBold", $fontSize - 1, #666);
          @include textOverflow;
          display: block;

          & .text {
            @include textOverflow;
            display: block;
            padding-right: 0;
            word-break: break-all;
          }
        }

        & .subTitle {
          @include font("PingFangBold", $fontSize, #333);
          margin-top: 5px;
          white-space: pre-wrap;
          overflow: visible;
          -webkit-line-clamp: 1000;
          word-break: break-all;
        }

        & .messageBox {
          background-color: #f7f7f7;
          padding: 5px;
          margin-top: 5px;
          font-size: $fontSize - 1;

          & .message {
            display: none;
            margin-top: 2px;

            & .name {
              color: $orangeLight;
            }

            & .dialog {
              color: #666;
              word-break: break-all;
            }
          }

          & .message.active {
            display: block;
          }
        }

        // 回复
        & .answerBox {
          margin-top: 15px;

          & .date {
            @include font(null, $fontSize - 1, #999);
            margin-right: 15px;
          }

          & .action {
            @include font(null, $fontSize - 1, #333);
            margin-right: 15px;
          }
        }
      }
    }

  }

  & .audioList {
    position: relative;
    height: 94vh;
    overflow: hidden;

    & .title {
      height: 44px;
      line-height: 44px;
      border-bottom: 1px #eee solid;
      text-align: center;
      position: relative;
      @include displayFlex(flex, center, center);
      @include font(null, $fontSize + 2, #999);

      & .action {
        @include position(absolute, "tl", 0, 0, 44px, 44px, null);

        & .icon {
          width: 20px;
          height: 20px;
        }
      }

      & .punish {
        @include position(absolute, "tr", 0, 0, 60px, 44px, null);
        color: $redDark;
      }
    }

    & .content {
      padding: 10px;

      & textarea {
        width: 100%;
        border: 1px #ccc solid;
        border-radius: 5px;
        padding: 5px;
        box-sizing: border-box;
        min-height: 100px;

      }

      & .count {
        font-size: $fontSize - 2;
        color: #999;
        text-align: right;

        & .active {
          color: $redDark;
        }
      }


    }
  }

  & .actionPatch {
    position: relative;
    padding:  10px 20px;
    z-index: 1;
    // color: $white;
    // background-color: #333;
    @include textOverflow;

    & .title {
      @include textOverflow;
    }
  }

  & .ratioBox.banner {
    padding-bottom: 61.8%;

    & .box.layer {
      background-color: rgba($color: #000000, $alpha: 0.4);
      color: $white;
      z-index: 1;

      & .icon {
        width: 45px;
        height: 45px;
      }
    }
  }

  & .booklist {
    width: calc(100% + 10px);
    background-color: $white;
    padding: 0 10px 20px 20px;
    box-sizing: border-box;

    & .title {
      @include twoLines;
      @include font("PingFangBold", $fontSize - 1, '#666');
      margin-top: 8px;
    }

    & .ratioBox {
      margin-top: 20px;
    }
  }

  & .van-cell {
    margin-top: 5px;
  }

  & .van-tabs--line {
    margin-top: 5px;
  }

  // 详情
  & .publish {
    background-color: $white;
    padding: 0 15px;
    margin-top: 5px;
    @include displayFlex(flex, space-between, center);

    .from {
      @include displayFlex(flex, flex-start, center);

      .icon {
        width: 35px;
        height: 35px;
        border: 1px solid $clC;
        border-radius: 35px;
        display: flex;
        justify-content: center;
        align-items: center;
        overflow: hidden;

        img {
          max-width: 100%;
          max-height: 100%;
        }
      }

      .publishInfo {
        margin-left: 7px;

        .publishName {
          @include font("PingFangBold", $fontSize, $cl6);
        }

        .focusNumber {
          font-size: $fontSize - 2;
          color: $cl9;
        }
      }
    }

    .focus {
      font-size: $fontSize - 2;
      color: #cbcbcb;
      display: inline-block;
      line-height: 20px;
      border-radius: 10px;
      overflow: hidden;
      padding: 0 10px;
      border: 1px solid #cbcbcb;
    }

    .add {
      color: $redDark;
      border: 1px solid $redDark;
    }
  }

  // 节目
  & .listContent {
    background-color: $white;
    padding: 0 15px;

    & .content {

      // 节目
      & .list {
        @include displayFlex (flex, center, center);
        padding: 8px 0;
        border-bottom: 1px $greyLight solid;
        position: relative;

        & .rank {
          font-size: $fontSize + 1;
          color: #666;
        }

        & .desc {
          @include twoLines;
          @include font(null, $fontSize + 1, #000);

          & .tag {
            color: $redDark;
            margin-right: 10px;
            font-size: $fontSize - 2;
          }
        }

        & .info {
          margin-top: 8px;

          & .van-tag {
            padding: 0 4px;
            margin-right: 10px;
          }

          & .count,
          & .time {
            font-size: $fontSize - 1;
            color: #999;
            margin-right: 10px;
          }

          & .history {
            color: $redDark;
            font-size: $fontSize - 2;
          }
        }

        & .date {
          color: #999;
          font-size: $fontSize - 1;
        }

        & .status {
          @include position (absolute, 'br', 5px, 0, null, null, null);

          & .icon {
            width: 25px;
            height: 25px;
            color: $redDark;
            margin-top: 10px;
          }
        }
      }
    }
  }
  // 优惠券
  & .van-popup {
    .header {
      // background-color: #f5f5f5;
      padding: 0 15px;
      height: 40px;
      @include displayFlex(flex, space-between, center);

      .catalogWord {
        font-size: $fontSize + 1;
      }
    }

    .content {
      // padding: 15px;
      position: absolute;
      top: 40px;
      bottom: 0;
      overflow-y: auto;
      width: 100%;
      box-sizing: border-box;
      // background-color: #f5f5f5;
      padding: 10px 15px;

      .toUse.overdue {
        .left {
          background-color: $cl9;
        }

        .mid {
          color: $cl9;
        }

        .right {

          .shopCoupon,
          .used {
            color: $cl9;
          }
        }
      }

      // .toUse.overdue{
      //   background-color: #A6A6A6;
      // }
      .toUse {
        box-sizing: border-box;
        background-color: $white;
        @include displayFlex(flex, null, null);
        align-items: stretch;

        .left {
          width: 8px;
          background-color: $redLight;
          border-radius: 6px 0 0 6px;
        }

        .mid {
          text-align: center;
          width: 30%;
          padding: 10px 5px;
          border-right: 1px dashed #bfbfbf;
          box-sizing: border-box;
          color: $redLight;
          position: relative;

          .price {
            // font-size: $fontSize + 21;
            @include font("PingFangBlod", $fontSize + 10, null);
          }

          .condition {
            white-space: nowrap;
            margin-top: 28px;
          }

          .circle {
            width: 10px;
            height: 10px;
            background-color: #f5f5f5;
            border-radius: 50%;
            position: absolute;
            right: -5px;
          }

          .circle.top {
            top: -5px;
          }

          .circle.bottom {
            bottom: -5px;
          }
        }

        .right {
          // width: 70%;
          flex-grow: 1;
          padding: 10px;
          position: relative;
          .shop {
            margin-left: 70px;
            font-size: $fontSize + 2;
          }

          .time {
            margin-top: 5px;
            font-size: $fontSize - 2;
            color: $cl9;
          }

          .desc {
            margin-top: 40px;
          }

          .used {
            @include font("PingFangBlod", $fontSize + 46, $redLight);
            position: absolute;
            right: -15px;
            bottom: -15px;
          }
          .shopCoupon{
            position: absolute;
            left: 5px;
            top: -10px;
            color:$redLight;
            display: inline-block;
            .icon{
              font-size: 70px;
            }
            .dianpu{
              display: inline-block;
              width: 36px;
              color:$white;
              position: absolute;
              top:50%;
              left: 50%;
              margin-top: -12px;
              margin-left: -20px;
              font-size: 12px;
              @include textOverflow;
            }
          }
        }
      }
    }
  }
    // 拼团
    .group{
      padding:15px;
      .top{
        @include displayFlex(flex, space-between, null);
        & .ratiobox {
          min-width: 100px;
          margin-right: 10px;
          .bookImg {
            @include ratioBox (100%, 100%, 1px solid $greyLight, contain, $white, null);
            border-radius: 3px;
          }
        }
        .right{
          flex-grow:1;
          flex-direction:column;
          display:flex;
          width:50%;
          justify-content: space-between;
          align-content: space-between;
          padding:5px 0;
          .title{
            @include twoColtextOverflow;
            font-size:$fontSize + 1;
          }
          .desc{color:$redLight;}
          .sign{
            display:inline-block;
            background-color:#FFECEC;
            border-radius:5px;
            font-size:$fontSize - 4;
            color:$redLight;
            padding:0 3px;
            width:120px;
          }
        }
      }
      .list{
        position: absolute;
        top:110px;
        bottom:110px;
        overflow-y: auto;
        width: calc(100% - 30px);
        .content{
          @include displayFlex(flex, space-between, center);
          padding:0;
          padding-bottom:15px;
          position: relative;
          .left{
            // width:70px;
            img{
              border-radius: 50%;
              border:1px solid $white;
              position: absolute;
              top:4px;
            }
            .over,.add{
              display:inline-block;
              width: 30px;
              height:30px;
              line-height: 30px;
              border-radius: 50%;
              border:1px solid $white;
              text-align: center;
              color:$white;
              background-color: #BFBFBF;
              position: absolute;
              top:4px;
            }
            .add{
              background-color: #DCDCDC;
            }
          }
          .mid{
            margin-left: 55px;
            .time{
              color:$cl9;
              font-size: $fontSize - 2;
            }
          }
          .right{
            .van-button{
              border-radius: 15px;
              min-width: 75px;
            }
          }
        }
      }
      .groupbottom{
        position: absolute;
        bottom:15px;
        width: calc(100% - 30px);
        .text{
          color:$cl9;
          font-size: $fontSize - 3;
          text-align: center;
          margin-bottom: 10px;
        }
        .van-button{
          width: 100%;
          height:40px;
          border-radius: 20px;
          font-size: $fontSize + 2;
        }
      }
    }
}
