/*
 * author: nancyzeng
 * date:2019/3/11
 */

@charset "UTF-8";

#registerPage {
  background-color: $white;
  min-height: 100%;

  & .prototype {
    // @include displayFlex (flex, flex-start, center);
  }

  & .password {

    /*设置input placeholder颜色*/
    ::-webkit-input-placeholder,
    ::-webkit-textarea-placeholder {
      font-size: $fontSize - 1;
    }

    :-moz-placeholder {
      font-size: $fontSize - 1;
    }

    :-ms-input-placeholder,
    :-ms-textarea-placeholder {
      font-size: $fontSize - 1;
    }
  }

  & .van-cell {
    font-size: $fontSize + 1;
    color: #000;
    padding: 10px 0;
    margin-bottom: 10px;
    align-items: center;
  }

  & .van-cell:not(:last-child)::after,
  & .van-cell::after {
    content: ' ';
    position: absolute;
    pointer-events: none;
    box-sizing: border-box;
    left: 0;
    right: 0;
    bottom: 0;
    -webkit-transform: scaleY(.5);
    transform: scaleY(.5);
    border-bottom: 1px solid #d6d6d6;
  }

  & .fieldBox {
    padding: 20px;
    // margin-top: 50px;
  }

  // & .phone .van-field__label {
  //   border-right: 1px #d6d6d6 solid;
  // }

  // & .van-field__label {
  //   max-width: 50px;
  //   margin-right: 10px;
  // }

  & .van-checkbox__label {
    font-size: $fontSize - 1;
    color: #999;
  }

  & .prototype {
    position: relative;
    a {
      font-size: $fontSize - 1;
      color: #999;
    }
  }

  & .submitBox {
    margin: 50px 30px;
  }
}
