/*
 * author: lufei
 * date:2019/4/17
 */

#detailPage{
  background-color: $greyLight;
  min-height: 100%;
  
  .van-cell{
    font-size: $fontSize - 1;
    color: $cl9;
    padding: 5px 15px;
     &:not(:last-child)::after{
      border: 0;
    }
    .van-cell__value{
      font-size: $fontSize - 1;
      color: $cl3;
    }
  }
  .state{
    padding-left: 15px;
    padding-right: 15px;
    height: 60px;
    line-height: 60px;
    @include font(null, $fontSize + 4, null);
    @include bgDecorate($redDark, $white, null, null, null);
  }
  .signfor{
    padding: 10px 15px;
    position: relative;
    background-color: $white;
    border-bottom: 1px solid $greyLight;
    @include displayFlex(flex,null,null);
    .signforFrom{
      margin-left: 5px;
      display: flex;
      flex-direction: column;
      align-content: space-between;
      @include textOverflow;
      .signDate{
        font-size: $fontSize - 1;
        color: $cl9;
        margin-top: 5px;
      }
      .signforPeople{
        @include textOverflow;
      }
      .address{
        white-space: pre-wrap;
        margin-top: 5px;
        font-size: $fontSize - 1;
        color: $cl6;
      }
    }
    .car{
      margin-top: 3px;
      color: $cl6;
    }
    .arrow{
      position: absolute;
      right: 15px;
      top: 50%;
      margin-top: -7px;
      color: $cl9;
    }
  }
  .info{
    background-color: $white;
    margin-top: 10px;
    .head{
      line-height: 40px;
      border-bottom: 1px solid $greyLight;
      padding-left: 15px;
      padding-right: 15px;
      @include displayFlex(flex,space-between,center);
      .titleFrom{
       @include displayFlex(flex,flex-start,center);
        .icon{
         width: 21px;
         height: 21px;
         border: 1px solid $clC;
         border-radius: 21px;
         align-items: center;
       }
       .publish{
         font-size: $fontSize;
         color: $cl3;
         margin-left: 5px;
       }
      }
    }
    .section{
      padding: 13px 15px 30px 15px;
      border-bottom: 1px solid $greyLight;
       .bookDetail{
         @include displayFlex(flex,flex-start,flex-start);
         .ratiobox{
          border-radius: 2px;
          overflow: hidden;
          position: relative;
          .box{
            .bookImg{
              display: block;
              width: 65px;
              height: 65px;
            }
            & .tip {
              @include position (absolute, 'bl', 0, 0, 100%, 15px, 0);
              @include font(null, $fontSize - 2, $white);
              @include textOverflow;
              background-color: rgba($color: #000000, $alpha: 0.3);
              text-align: center;
            }
          }
         }
         .title{
           display: inline-block;
           max-width: 220px;
           margin-left: 10px;
           @include textOverflow;
           @include font("PingFangBlod", $fontSize + 2, $cl3);
         }
       }
     }
  }
  .priceInfo{
    background-color: $white;
    margin-top: 10px;
    padding-bottom: 5px;
    .first{
      .van-cell{
        border-bottom: 1px solid $greyLight;
        font-size: $fontSize - 1;
        color: $cl3;
      }
    }

    .acturalPay{
      text-align: right;
      padding-right: 15px;
      margin: 0;
      span{
        color: $redDark;
      }
    }
  }
  .fictitious{
    margin-top: 5px;
    margin-bottom: 50px;
    .text{
      .van-cell__title{
        color: $cl3;
      }
    }
    .orderNumber{
      @include displayFlex(flex,space-between,center);
      padding:5px 15px;
      background-color: $white;
      font-size: $fontSize - 1;
      .order{
        color: $cl9;
      }
      .copybox{
        flex-grow: 1;
        @include displayFlex(flex,flex-end,center);
        .copy{
          margin-right: 20px;
          font-size: $fontSize - 2;
          color: $cl3;
          display: inline-block;
          width:40px;
          height: 18px;
          border: 1px solid $cl9;
          border-radius: 9px;
          text-align: center;
        }
      }
    }
    .orderInfo{
      .van-cell{
        .van-cell__title{
          font-size: $fontSize - 1;
          color: $cl9;
        }
        border-bottom: 1px solid $greyLight;
      }
    }
  }
  .foot{
    @include displayFlex(flex,flex-end,center);
    background-color: $white;
    width: 100%;
    @include position (fixed, br, 0, null, null, 50px, null);
    border-top: 1px solid #d2d2d2;
    .button1{
      display: inline-block;
      width: 60px;
      height: 24px;
      border: 1px solid $greyDark;
      border-radius: 12px;
      text-align: center;
      line-height: 24px;
      font-size: $fontSize - 2;
      color: $cl3;
      margin-left: 15px;
      margin-right: 15px;
     }
     .button2{
      display: inline-block;
      width: 60px;
      height: 24px;
      border: 1px solid $redDark;
      border-radius: 12px;
      text-align: center;
      line-height: 24px;
      font-size: $fontSize - 2;
      color: $redDark;
      margin-left: 15px;
     }
  }
}
