/*
 * author: lufei
 * date:2019/4/17
 */

#detailPage {
  background-color: $greyLight;
  min-height: 100%;
  & .container{
    padding-bottom: 60px;
    & .content{
      margin-bottom: 10px;
      & .invent{
        @include font(null,$fontSize - 2,$cl9);
        padding:4px 15px;
      }
    }
  }
  & .group{
    background-color: $white;
    margin-bottom: 10px;
    & .grouphead{
      padding:10px 15px;
      border-bottom: 1px solid #F5F5F5;
      @include displayFlex(flex, space-between, center);
      & .groupstate{
        font-size: $fontSize + 1;
      }
      & .groupdesc{
        color:$cl9;
      }
    }
    & .grouplist{
      padding:20px 15px;
      text-align: center;
      & span{
        display: inline-block;
        position: relative;
        margin-right: 30px;
      }
      & img{
        border-radius: 50%;
        border:1px solid $redLight;
      }
      & .name{
        width: 30px;
        height:15px;
        line-height: 15px;
        background-color: $redLight;
        color:$white;
        font-size: 10px;
        border-radius: 7.5px;
        position: absolute;
        bottom:0px;
        padding:0 3px;
        left: 50%;
        margin-left:-18px;
      }
      & .mark{
        width:40px;
        height: 40px;
        line-height: 40px;
        border:1px dashed #D2D2D2;
        font-size: $fontSize + 3;
        color: #C5C5C5;
        text-align: center;
        border-radius: 50%;
        vertical-align: top;
      }
      & .mark.over{
        border:none;
        color:$cl9;
        margin-right: 0;
      }
    }
  }
}
