/*
 * author: lufei
 * date:2019/4/17
 */

#invoicePage {
  background-color: $greyLight;
  min-height: 100%;
  // padding-bottom: 50px;
  & .content{
    margin-bottom: 10px;
  }
  & .tips{
    padding: 0 15px;
    @include font(null,$fontSize - 2,$cl9)
  }
}
