/*
 * author: lufei
 * date:2019/4/17
 */

#invoicePage{
  #one{
    .van-cell__value{
      font-size: $fontSize;
      color: $cl3;
    }
  }
  .van-cell__title{
    font-size: $fontSize + 2;
    color: $cl3;
    flex: 0 1 auto;
  }
  .van-cell__value{
    text-align: left;
    margin-left: 5px;
  }
  .van-icon-arrow-down:before{
    content: "\F00A"
  }
  .van-field__label{
    max-width: 120px;
  }
  .van-button{
    border-radius: 0;
  }
  .van-button--danger{
    background-color: $redDark;
    border: 1px solid $redDark;
  }
  .van-cell__title.van-field__label{
    max-width: 100px;
    white-space: nowrap;
  }
  #two{
      border-bottom: 1px solid $greyLight;
  }
}
