/*
 * author: lufei
 * date:2019/4/17
 */

 #listPage{
  background-color: $greyLight;
  min-height: 100%;
  box-sizing: border-box;
  position: relative;
  & .result-search{
    position: fixed;
    width: 100%;
    max-width: 640px;
    z-index: 9999;
    top: 0;
    left: auto;
  }
  & .content{
    padding-top:44px ;
    padding-bottom: 20px;
    & .delete_order{
      position: absolute;
      left: 0;
      top:20px;
      line-height: 35px;
      text-align: center;
      font-size: $fontSize - 1;
      width: 98px;
      background:$white;
      box-shadow:0px 2px 10px 0px rgba(0, 0, 0, 0.07);
      border-radius:3px;
    }
  }
  & .content.result{
    padding-top:55px;
    padding-bottom: 0;
  }
  & .select-type{
    position: fixed;
    top: 44px;
    line-height: 40px;
    z-index: 99;
    box-sizing: border-box;
    padding-right: 15px;
    text-align: right;
    width: 100%;
    max-width: 640px;
    background-color: $greyLight;
    & .search{
      font-size: $fontSize + 8;
      width: 51px;
      line-height: 45px;
      text-align: center;
      background-color: rgba(255,255,255,0.8);
      position: absolute;
      right: 0;
      top: -45px;
      z-index: 99;
      border-left: 2px solid rgba(0,0,0,0.05);
    }
    & .select-title{
      font-size: $fontSize + 2;
    }
    & ul{
      position: absolute;
      top: 33px;
      right: 15px;
      z-index: 99;
      background:$white;
      box-shadow:0px 2px 10px 0px rgba(0, 0, 0, 0.06);
      border-radius:3px;
      font-size: $fontSize + 1;
      & li{
        padding:0 13px;
        white-space: nowrap;
        text-align: left;
      }
    }
  }
  & .nullState{
    color: $cl9;
    text-align: center;
    padding-top: 104px;
  }
}
