/*
 * author: lufei
 * date:2019/4/17
 */

 #listPage{
  background-color: $greyLight;
  min-height: 100%;
  box-sizing: border-box;
  position: relative;
  & .search{
    font-size: $fontSize + 6;
    width: 51px;
    line-height: 45px;
    text-align: center;
    background-color: rgba(255,255,255,0.8);
    position: fixed;
    right: 0;
    top: 0;
    z-index: 99;
    border-left: 2px solid rgba(0,0,0,0.05);
  }
  & .result-search{
    position: fixed;
    width: 100%;
    max-width: 640px;
    z-index: 9999;
    top: 0;
    left: auto;
  }
  & .content{
    padding-bottom: 20px;
    & .delete_order{
      position: absolute;
      left: 0;
      top:20px;
      line-height: 35px;
      text-align: center;
      font-size: $fontSize - 1;
      width: 98px;
      background:$white;
      box-shadow:0px 2px 10px 0px rgba(0, 0, 0, 0.07);
      border-radius:3px;
    }
  }
  & .content.result{
    padding-top:55px;
    padding-bottom: 0;
  }
  & .select-type{
    position: relative;
    // top: 44px;
    line-height: 34px;
    z-index: 9;
    box-sizing: border-box;
    padding-right: 15px;
    text-align: right;
    width: 100%;
    max-width: 640px;
    background-color: $greyLight;

    & .select-title{
      font-size: $fontSize;
    }
    & ul{
      position: absolute;
      top: 28px;
      right: 15px;
      z-index: 99;
      background:$white;
      box-shadow:0px 2px 10px 0px rgba(0, 0, 0, 0.06);
      border-radius:3px;
      // font-size: $fontSize + 1;
      & li{
        padding-left:10px;
        padding-right: 17px;
        white-space: nowrap;
        line-height: 40px;
        text-align: left;
      }
    }
  }
  & .nullState{
    color: $cl9;
    text-align: center;
    padding-top: 104px;
  }
}
