/*
 * author: lufei
 * date:2019/4/24
 */

#logisticsPage {
  background-color: $greyLight;
  min-height: 100%;
  & .desc{
    background-color: $white;
    padding: 15px 15px 0 15px;
    @include font(null,$fontSize + 2,null);
  }
  & .content{
    margin-bottom: 10px;
    & .text{
      padding:8px 15px;
      background-color: $white;
      border-bottom: 1px solid $greyLight;
    }
  }
}

#editPage {

  //  padding:5px 15px;
  .van-cell {
    padding: 10px 0;
  }

  & .content {
    padding: 0 15px;
  }

  & input {
    flex-grow: 1;
    border: none;
    padding: 0 5px;

    &::placeholder {
      color: $cl9;
      font-size: $fontSize - 1;
    }
  }
  & .van-popup--bottom{
    left: 50% !important;
  }
}

#typePage {
  & .content {
    border-bottom: 10px solid $greyLight;
  }
}

#ongoingPage {
  min-height: 100%;
  background-color: $greyLight;

  & .content {}
}

.refund {
  // padding: 0 15px;
  background-color: $greyLight;
  min-height: 100%;

  & .van-popup--bottom {
    left: 50% !important;
  }

  & .content {
    margin-bottom: 10px;
    background-color: #FFF;
  }

  & .cell {
    padding: 15px 0;

    // border-bottom: 1px solid $greyLight;
    .typeRefund {
      font-size: $fontSize - 1;
    }

    .onlyRefund {
      color: $cl9;
      font-size: $fontSize - 1;
    }

    .choose {
      font-size: $fontSize - 1;
      color: $cl9;

      & .state {
        color: $cl3;
      }
    }

    .most {
      font-size: $fontSize - 1;
      color: $cl9;
    }

    .money {
      font-size: $fontSize - 1;
      color: $redDark;
    }

    input {
      border: none;
      flex-grow: 1;
      padding: 0;

      &::placeholder {
        color: $cl9;
        font-size: $fontSize - 1;
      }
    }

    textarea {
      font-size: $fontSize - 1;
      flex-grow: 1;
      height: 110px;
      border: none;
      resize: none;

      &::placeholder {
        color: $cl9;
        font-size: $fontSize - 3;
      }
    }
  }

  & .reason {
    @include displayFlex(flex, space-between, center);
  }

  & .cell.number {
    @include displayFlex(flex, null, center);

    & .text {
      margin-right: 5px;
    }
  }

  & .explain {
    @include displayFlex(flex, null, flex-start);
  }

  & .upload {
    & .text {
      font-size: $fontSize + 1;
    }

    & #upload {
      margin-top: 14px;

      & .flex-box {
        margin-right: 15px;
        margin-top: 14px;
      }
    }
  }

  & .count {
    font-size: $fontSize - 2;
    color: #999;
    text-align: right;

    & .active {
      color: $redDark;
    }
  }
}
