/*
 * author: lufei
 * date:2019/4/24
 */

 #logisticsPage{
   .line{
     height: 10px;
     width: 100%;
     background-color: $greyLight;
   }
   .orderExpress{
     padding: 0 15px;
     @include displayFlex(flex,flex-start,center);
     .ratiobox{
      width: 52px;
     .bookImg{
       display: block;
      @include ratioBox ( null, 100%, 1px solid $clC,contain, $white, null);
     }
    }
    .orderInfo{
      margin-left: 10px;
      p{
        line-height: 2;
      }
    }
   }
   .logisticsInfo{
     .text{
       padding-left:23px;
       height: 30px;
       line-height: 30px;
       border-bottom: 1px solid $greyLight;
       color: $cl9;
       font-size: $fontSize - 1;
     }
   }
 }

 #editPage{
   padding:5px 15px;
   .van-cell{
    padding: 10px 0;
   }
  .company{
    @include displayFlex(flex,null,center);
    border-bottom: 1px solid $greyLight;
    padding-bottom: 5px;
    .van-cell{
      padding: 10px 0;
      font-size: $fontSize + 2;
    }
    .van-cell__title, .van-cell__value{
      flex: none;
    }
    .van-cell__value{
      padding: 0 10px;
    }
  }
  .freight{
    display: flex;
    border-bottom: 1px solid $greyLight;
    padding: 15px 0;
    .freightText{
      font-size: $fontSize + 2;
    }
  }
  input{
    flex-grow: 1;
    border: none;
    padding: 0 5px;
    &::placeholder{
      color: $cl9;
      font-size: $fontSize - 1;
    }
  }
 }

 #typePage{
   .refund{
     padding:0 15px;
     @include displayFlex(flex,space-between,center);
     border-bottom: 1px solid $greyLight;
     .refundText{
        @include displayFlex(flex,null,center);
        .text{
          margin-left: 5px;
          font-size: $fontSize + 1;
          p{
            line-height: 1.6;
          }
          .receive{
            font-size: $fontSize - 2;
            color: $cl9;
          }
        }
     }
     .red{
       font-size: $fontSize + 6;
       color: $redDark;
     }
     .grey{
       color: $cl9;
     }
   }
 }

#ongoingPage{
    min-height: 100%;
    background-color: $greyLight;
  .content{
    padding: 20px 15px 10px 15px;

    .date{
      margin: 0px auto 20px auto;
      height: 20px;
      line-height: 20px;
      background-color: $white;
      border-radius: 10px;
      width: 140px;
      font-size: $fontSize - 2;
      color: $cl9;
      text-align: center;
    }
    .buyer{
      @include displayFlex(flex,flex-end,null);

      .message{
        border-radius: 4px;
        box-shadow: 0 0 2px rgba(0,0,0,.3);
        max-width: 73%;
        flex-grow: 1;
        background-color: $white;
        padding: 10px;
        .title{
          border-bottom: 1px solid $greyLight;
          font-size: $fontSize + 1;
          padding-bottom: 10px;
        }
        .stateMessage{
          font-size: $fontSize - 1;
          color: $cl6;
          margin-top: 10px;
        }
        .notice{
          font-size: $fontSize - 1;
          color: $redDark;
          border-top: 1px solid #f5f5f5;
          padding-top: 10px;
        }
      }
      .wd_left{
        margin-right: 5px;
        .ratiobox {
          min-width: 30px;
          .bookImg {
            display: block;
            border-radius: 50%;
            @include ratioBox (null, 100%, null, contain, $white, null);

          }
        }
      }
      .wd_right{
        margin-left: 5px;
        .ratiobox {
          min-width: 30px;
          .bookImg {
            display: block;
            border-radius: 50%;
            @include ratioBox (null, 100%, null, contain, $white, null);

          }
        }
      }
    }
    .seller{
      @include displayFlex(flex,flex-start,null);
      margin-top: 20px;
      margin-bottom: 20px;
      .icon{
        width: 30px;
        height: 30px;
        background-color: $white;
        border-radius: 30px;
        align-items: center;
      }
      .message{
        border-radius: 4px;
        box-shadow: 0 0 2px rgba(0,0,0,.3);
        max-width: 73%;
        flex-grow: 1;
        background-color: $white;
        padding: 10px 10px 5px 10px;
        .title{
          border-bottom: 1px solid $greyLight;
          font-size: $fontSize + 1;
        }
        .stateMessage{
          font-size: $fontSize - 1;
          color: $cl6;
          margin-top: 10px;
        }
        .bb{
          border-bottom: 1px solid $greyLight;
          padding-bottom: 25px;
        }
        .careful{
          font-size: $fontSize - 1;
          color: $redDark;
          margin-top: 10px;
        }
        .mb{
          margin-bottom: 10px;
        }
      }
      .wd{
        // width: 10.5%;
        // text-align: center;
        margin-right: 5px;
      }
    }
  }
  .foot{
    height: 50px;
    line-height: 50px;
    text-align: right;
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: $white;
    .button{
      display: inline-block;
      line-height: 24px;
      border: 1px solid $clC;
      border-radius: 12px;
      text-align: center;
      padding-left: 5px;
      padding-right: 5px;
      font-size: $fontSize - 2;
      margin-right: 15px;
    }
  }
}

.refund{
  padding: 0 15px;
  .cell{
    padding: 18px 0;
    border-bottom: 1px solid $greyLight;
    .typeRefund{
      font-size: $fontSize - 1;
    }
    .onlyRefund{
      color: $cl9;
      font-size: $fontSize - 1;
    }
    .choose{
      font-size: $fontSize - 1;
      color: $cl9;
    }
    .most{
      font-size: $fontSize - 1;
      color: $cl9;
    }
    .money{
      font-size: $fontSize - 1;
      color: $redDark;
    }
    input{
      border: none;
      margin-top: 30px;
      width:95%;
      &::placeholder{
        color: $cl9;
        font-size: $fontSize - 1;
      }
    }
    textarea{
      font-size: $fontSize - 1;
      flex-grow: 1;
      height: 110px;
      border: none;
      resize: none;
      &::placeholder{
        color: $cl9;
        font-size: $fontSize - 1;
      }
    }
  }
  .reason{
    @include displayFlex(flex,space-between,center);
  }
  .explain{
    @include displayFlex(flex,null,flex-start);
  }
  .upload{
    margin-top: 25px;
    #upload{
      // margin-top: 14px;
      .flex-box{
        margin-right: 15px;
        margin-top: 14px;
      }
    }
  }
  .van-popup{
    overflow: hidden;
    height: 40%;
    .title{
      text-align: center;
      height: 35px;
      line-height: 35px;
      font-size: $fontSize + 1;
      color: $cl9;
      position: relative;
      .complete{
        display: inline-block;
        line-height: 35px;
        position: absolute;
        right:15px;
        color: $redDark;
      }
    }
    .van-radio-group{
      position: absolute;
      top: 35px;
      bottom: 0;
      overflow-y: auto;
      width: 100%;
      .van-cell__title{
        span{
          white-space: nowrap;
          font-size: $fontSize;
        }
      }
    }
  }
  & .count {
    font-size: $fontSize - 2;
    color: #999;
    text-align: right;

    & .active {
      color: $redDark;
    }
  }
}

#twoPage{

}
