/*
 * author: lufei
 * date:2019/4/24
 */

 #logisticsPage{
   .line{
     height: 10px;
     width: 100%;
     background-color: $greyLight;
   }
   .orderExpress{
     padding: 15px 0 15px 20px;
     @include displayFlex(flex,flex-start,center);
     .ratiobox{
      width: 52px;
     .bookImg{
       display: block;
      @include ratioBox ( null, 100%, 1px solid $clC,contain, $white, null);
     }
    }
    .orderInfo{
      margin-left: 10px;
      p{
        line-height: 2;
      }
    }
   }
   .logisticsInfo{
     .text{
       padding-left:23px;
       height: 30px;
       line-height: 30px;
       border-bottom: 1px solid $greyLight;
       color: $cl9;
       font-size: $fontSize - 1;
     }
     .van-step__circle {
      width: 7px;
      height: 7px;
      border: 1px solid #ccc;
      background-color: #fff;
      }
      .van-step--vertical .van-step__circle {
      top: 16px;
      left: -19px;
     }
    //  .van-icon-checked:before{
    //     width: 7px;
    //     height: 7px;
    //     border: 1px solid $redDark;
    //     content: "";
    //     border-radius: 50%;
    //     // color: $redDark;
    //     // position: absolute;
    //     // top: 16px;
    //     // left: -19px;
    //  }
    //  .van-step--finish .van-step__circle, .van-step--finish .van-step__line{
    //    background-color: $clC;
    //  }
    .van-step__circle{
      background-color: $white;
    }
    .van-step--vertical .van-step__line{
      background-color: $clC;
    }
   }
 }

 #editPage{
   .van-address-edit{
    .van-field{

    }
   }
  .van-address-edit__buttons{
    display: none;
  }
 }

 #typePage{
   .refund{
     padding: 15px;
     @include displayFlex(flex,space-between,center);
     border-bottom: 1px solid $greyLight;
     .refundText{
        @include displayFlex(flex,null,center);
        .text{
          margin-left: 5px;
          font-size: $fontSize + 1;
          p{
            line-height: 1.6;
          }
          .receive{
            font-size: $fontSize - 2;
            color: $cl9;
          }
        }
     }
     .red{
       font-size: $fontSize + 6;
       color: $redDark;
     }
     .grey{
       color: $cl9;
     }
   }
 }

#ongoingPage{
  .content{
    background-color: $greyLight;
    padding: 20px 15px 10px 15px;
    margin-bottom: 50px;
    .wd{
      width: 10.5%;
      text-align: center;
    }
    .date{
      margin: 0px auto 20px auto;
      height: 20px;
      line-height: 20px;
      background-color: $white;
      border-radius: 10px;
      width: 110px;
      font-size: $fontSize - 2;
      color: $cl9;
      text-align: center;
    }
    .buyer{
      @include displayFlex(flex,flex-end,null);
      .icon{
        width: 30px;
        height: 30px;
        background-color: $white;
        border-radius: 30px;
        align-items: center;
      }
      .message{
        border-radius: 4px;
        box-shadow: 0 0 2px rgba(0,0,0,.3);
        max-width: 73%;
        flex-grow: 1;
        background-color: $white;
        padding: 10px 10px 25px 10px;
        .title{
          border-bottom: 1px solid $greyLight;
          font-size: $fontSize + 1;
        }
        .stateMessage{
          font-size: $fontSize - 1;
          color: $cl6;
          margin-top: 10px;
        }
      }
    }
    .seller{
      @include displayFlex(flex,flex-start,null);
      margin-top: 20px;
      margin-bottom: 20px;
      .icon{
        width: 30px;
        height: 30px;
        background-color: $white;
        border-radius: 30px;
        align-items: center;
      }
      .message{
        border-radius: 4px;
        max-width: 73%;
        flex-grow: 1;
        background-color: $white;
        padding: 10px 10px 5px 10px;
        .title{
          border-bottom: 1px solid $greyLight;
          font-size: $fontSize + 1;
        }
        .stateMessage{
          font-size: $fontSize - 1;
          color: $cl6;
          margin-top: 10px;
        }
        .bb{
          border-bottom: 1px solid $greyLight;
          padding-bottom: 25px;
        }
        .careful{
          font-size: $fontSize - 1;
          color: $redDark;
          margin-top: 10px;
        }
        .mb{
          margin-bottom: 10px;
        }
      }
    }
  }
  .foot{
    height: 50px;
    line-height: 50px;
    text-align: right;
    position: fixed;
    bottom: 0px;
    width: 100%;
    background-color: $white;
    .button{
      display: inline-block;
      line-height: 24px;
      border: 1px solid $clC;
      border-radius: 12px;
      text-align: center;
      padding-left: 5px;
      padding-right: 5px;
      font-size: $fontSize - 2;
      margin-right: 15px;
    }
  }
}

#onePage{
  .cell{
    padding: 18px 15px;
    border-bottom: 1px solid $greyLight;
    .typeRefund{
      font-size: $fontSize - 1;
    }
  }
}
