/*
 * author: lrf
 * date:2020/1/17
 */

@charset "UTF-8";

#changePasswordPage {
  background-color: $white;
  min-height: 100%;
  overflow: hidden;
  p {
    margin: 0;
  }
  .action_wrapper {
    margin-top: 143px;
    padding: 0 40px;
    .password {
      margin-bottom: 23px;
    }
    .van-field__control {
      padding: 10px;
      font-family: PingFang SC;
      font-weight: 500;
      color: #A7A7A7;
      line-height: 20px;
    }

    .van-cell:not(:last-child)::after,
    .van-cell::after {
      content: ' ';
      position: absolute;
      pointer-events: none;
      box-sizing: border-box;
      left: 0;
      right: 0;
      bottom: 0;
      -webkit-transform: scaleY(.5);
      transform: scaleY(.5);
      border-bottom: 1px solid #DCDCDC;
    }

    .van-button--danger {
      border-radius: 3px;
      .van-button__text {
        font-size: 15px;
        font-family: PingFang SC;
        font-weight: 500;
        color: #FFFFFF;
      }
    }
  }
  .info {
    margin: 65px 40px 185px 40px;
    font-size: 18px;
    font-family: PingFang SC;
    font-weight: 500;
    color: #333333;
    .step_text {
      float: right;
      font-size: 18px;
      font-family: PingFang SC;
      font-weight: 500;
      color: #999;
      line-height: 28px;
      .percent_step {
        color: #F7A2A1;
      }
    }
  }
}
