/*
 * author: lufei
 * date:2019/4/22
 */

 #mallPage{
  background-color: $greyLight;
  padding-top: 5px;
  .verticleLine{
    display: inline-block;
    width: 3px;
    height: 11px;
    border-radius: 1.5px;
    background-color: $redDark;
    margin-right: 4px;
  }
  .lh{
    line-height: 1;
    @include font("PingFangBlod", $fontSize+2, $cl3);
  }
  .text{
    @include displayFlex(flex,flex-start,flex-end);
  }
  .all{
    @include font("PingFangMedium", $fontSize - 1, $cl9);
  }
  .popular{
    background-color: $white;
    padding: 15px 0 15px 15px;
    .showContent{
      background-color: $white;
      margin-top: 5px;
      padding: 15px 0 0px 0px;
      margin-bottom: 5px;
      .slide{
        @include displayFlex(flex,flex-start,null);
        .ratiobox{
          min-width: 68px;
         .bookImg{
           display: block;
          @include ratioBox ( null, 100%, null,contain, $white, null);
         }
        }
        .content{
          display: flex;
          flex-direction: column;
          align-content: space-between;
          justify-content: space-between;
          // padding: 10px ;
          .title{
            line-height: 1.2;
            @include font("PingFangBlod", $fontSize + 1, null);
          }
          .message{
            @include font("PingFangMedium", $fontSize - 2, $cl6);
          }
          .money{
            @include font("PingFangBlod", $fontSize, $redDark);
          }
        }
      }
    }
  }
  .materialObject{
    background-color: $white;
    margin-top: 5px;
    padding: 15px;
    .materialTitle{
      @include displayFlex(flex,space-between,null);
    }
    .goods{
      @include displayFlex(flex,space-between,null);
      margin-top: 5px;
      flex-wrap: wrap;
      .goodsInfo{
        width: 46%;
        margin-bottom: 5px;
        .ratiobox{
          min-width: 120px;
         .bookImg{
           display: block;
          @include ratioBox ( null, 74%, null,contain, $white, null);
         }
        }
        .name{
          @include font("PingFangBlod", $fontSize, $cl3);
        }
        .message{
          @include font("PingFangMedium", $fontSize - 2, $cl6);
        }
        .money{
          @include font("PingFangBlod", null, $redDark);
        }
      }
    }
  }
 }
