/*
 * author: lufei
 * date:2019/4/22
 */


 * {
  margin: 0;
  padding: 0;
}
#mallPage {
  background-color: $greyLight;
  min-height: 100%;

  .verticleLine {
    display: inline-block;
    width: 3px;
    height: 11px;
    border-radius: 1.5px;
    background-color: $redDark;
    margin-right: 4px;
  }

  .lh {
    line-height: 1;
    @include font("PingFangBlod", $fontSize+2, $cl3);
  }

  .text {
    @include displayFlex(flex, flex-start, flex-end);
  }

  .all {
    @include font("PingFangMedium", $fontSize - 1, $cl9);
  }

  .popular {
    background-color: $white;
    padding: 15px 0 15px 15px;

    .showContent {
      background-color: $white;
      margin-top: 5px;
      padding: 15px 0 0px 0px;
      margin-bottom: 5px;

      .slide {
        @include displayFlex(flex, flex-start, null);

        .ratiobox {
          min-width: 80px;
          margin-right: 10px;

          .bookImg {
            @include ratioBox (100%, 100%, null, contain, $white, null);
          }
        }

        .content {
          display: flex;
          flex-direction: column;
          align-content: space-between;
          justify-content: space-between;

          // padding: 10px ;
          .title {
            line-height: 1.2;
            @include twoColtextOverflow;
            @include font("PingFangBlod", $fontSize + 1, null);
          }

          .message {
            @include textOverflow;
            @include font("PingFangMedium", $fontSize - 2, $cl6);
          }

          .money {
            @include font("PingFangBlod", $fontSize, $redDark);
          }
        }
      }
    }
  }

  .materialObject {
    background-color: $white;
    margin-top: 5px;
    padding: 0 15px;

    .materialTitle {
      @include displayFlex(flex, space-between, null);
      padding: 10px 0;
      // width: 100%;
      .text{
        max-width: 80%;
        .titleOver{
          @include textOverflow;
        }
      }
    }

    .goods {
      @include displayFlex(flex, space-between, null);
      margin-top: 5px;
      flex-wrap: wrap;

      .goodsInfo {
        width: 46%;
        margin-bottom: 5px;

        .ratiobox {
          min-width: 136px;

          .bookImg {
            @include ratioBox (100%, 74%, null, contain, $white, null);
          }
        }

        .name {
          @include font("PingFangBlod", $fontSize, $cl3);
          @include twoColtextOverflow;
          height: 42px;
        }

        .message {
          @include font("PingFangMedium", $fontSize - 2, $cl6);
          @include textOverflow;
        }

        .money {
          @include font("PingFangBlod", null, $redDark);
        }
      }
    }
  }
}
