/*
 * author: lufei
 * date:2019/4/28
 */

#resultPage{
  background-color: $greyLight ;
  min-height: 100%;
  box-sizing: border-box;
  .list{
    background-color: #fff;
    .content{
      @include displayFlex(flex, null, null);
      padding: 15px;
      .ratiobox {
        min-width: 129px;
        .bookImg {
          display: block;
          @include ratioBox (100%, 71.3%, null, contain, $white, null);
          border-radius: 2.5px;
        }
      }
      .right{
        flex-grow: 1;
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: space-between;
        .text{
          @include font("PingFangBold", $fontSize, $cl3);
          @include twoColtextOverflow;
        }
        .pinpai{
          font-size: $fontSize - 1;
          color: $cl6;
        }
        .nice{
          color: $cl9;
          font-size: $fontSize - 2;
          .comment,
          .good{
            margin-right: 10px;
          }
        }
      }
    }
  }
}
