/*
 * author: lufei
 * date:2019/4/28
 */

#resultPage{
  background-color: $greyLight ;
  min-height: 100%;
  box-sizing: border-box;

    .searhResult{
      position: relative;
      background-color: #fff;
      border-bottom: 5px solid $greyLight;
      box-sizing: border-box;
      padding: 8px 15px;
      input{
        width: 85%;
        height: 28px;
        box-sizing: border-box;
        border: none;
        padding-left:25px;
        padding-right: 15px;
        background-color: $greyLight;
        border-radius: 14px;
      }
      .cancel{
        color: $cl6;
        font-size: $fontSize + 2;
        margin-left: 5px;
      }
      .icon.searchIcon{
        position: absolute;
        left: 20px;
        color: $cl9;
        top: 50%;
        margin-top: -5px;
      }
    }
    .content{
      @include displayFlex(flex, null, null);
      background-color: #fff;
      padding: 15px;
      .ratiobox {
        min-width: 129px;
        .bookImg {
          display: block;
          @include ratioBox (100%, 71.3%, null, contain, $white, null);
          border-radius: 2.5px;
        }
      }
      .right{
        flex-grow: 1;
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-content: space-between;
        .text{
          @include font("PingFangBold", $fontSize, $cl3);
          @include twoColtextOverflow;
        }
        .pinpai{
          font-size: $fontSize - 1;
          color: $cl6;
        }
        .nice{
          color: $cl9;
          font-size: $fontSize - 2;
          .comment,
          .good{
            margin-right: 10px;
          }
        }
      }
    }
    .content.book{
      .ratiobook {
        min-width: 129px;
        .bookimg {
          display: block;
          @include ratioBox (100%, 100%, null, contain, $white, null);
          border-radius: 2.5px;
        }
      }
    }
  .van-tabs__wrap--scrollable .van-tab{
      flex:0;
  }
}
