/*
 * author: zhuboyu
 * date:2019/10/28
 */

@charset "utf-8";

#libraryIndex{
  min-height: 100%;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  background-color: rgb(240, 240, 240);
  .titleOver{
    overflow: hidden;
    -o-text-overflow: ellipsis;
    text-overflow: ellipsis;
    white-space: nowrap;
  }
  .contain{
    display: flex;
    padding: 15px;
    background: #ffffff;
    .ratiobox{
      flex-basis: 120px;
      position: relative;
      .bookImg{
        left: 0;
        top: 0;
        width: 100%;
        height: 0;
        position: relative;
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: contain;
        padding-bottom: 100%;
        background-color: #fff;
        border-radius: 23px;
      }
    }
    .right{
      -webkit-box-flex: 1;
      -ms-flex-positive: 1;
      flex-grow: 1;
      margin-left: 15px;
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-orient: vertical;
      -webkit-box-direction: normal;
      -ms-flex-direction: column;
      flex-direction: column;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      -ms-flex-line-pack: justify;
      align-content: space-between;
      width: 50%;
      .text{
        font-family: PingFangBold;
        font-size: 16px;
        color: #333;
        width: 100%;
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
      }
      .author{
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        margin: 17px 0 22px;
        font-size: 14px;
        color: #666666;
      }
      .terrace{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
        color: #666666;
        font-size: 14px;
        .name{
          width: 60%;
          overflow: hidden;
          -o-text-overflow: ellipsis;
          text-overflow: ellipsis;
          white-space: nowrap;
          font-size: 14px;
        }
        .oval{
          width: 21px;
          position: absolute;
          right: 30px;
          .bookImg{
            left: 0;
            top: 0;
            width: 100%;
            height: 0;
            position: relative;
            background-position: 50%;
            background-repeat: no-repeat;
            background-size: contain;
            padding-bottom: 100%;
            border-radius: 60px;
            overflow: hidden;
            background-color: #fffdfd;
          }
        }
      }
    }
  }
  .iconHref{
    display: flex;
    padding: 15px;
    background: #ffffff;
    .left{
      flex-basis: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #F6F6F6;
      box-shadow:0px 0px 3px 0px rgba(249,110,110,0.1);
      border-radius:6px;
      margin-right: 11px;
      height: 76px;
      .text{
        padding-left: 20px;
        font-weight: bold;
        .top{
          color: #333333  ;
          font-size:16px;
          font-family:PingFang SC;
          padding-bottom: 5px;
        }
        .bottom{
          color: #F96E6E;
          font-size:14px;
          font-family:PingFang SC;
        }
      }
    }
    .right{
      flex-basis: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      background-color: #F6F6F6;
      box-shadow:0px 0px 3px 0px rgba(249,110,110,0.1);
      border-radius:6px;
      height: 76px;
      .text{
        padding-left: 20px;
        font-weight: bold;
        .top{
          color: #333333  ;
          font-size:16px;
          font-family:PingFang SC;
          padding-bottom: 5px;
        }
        .bottom{
          color: #F96E6E;
          font-size:14px;
          font-family:PingFang SC;
        }
      }
    }
  }
  .iconHrefNo{
    padding: 15px;
    background-color: #ffffff;
    .box{
      background-color: #F6F6F6;
      box-shadow:0px 0px 3px 0px rgba(249,110,110,0.1);
      border-radius:6px;
      height: 45px;
      display: flex;
      justify-content: center;
      align-items: center;
      padding: 10px 16px;
      .picture{

      }
      .text{
        color: #333333;
        font-size:16px;
        padding-left: 20px;
        flex-grow: 1;
        font-weight: bold;
      }
      .price{
        color: #F96E6E;
        font-size: 14px;
        flex-shrink: 0;
      }
    }
  }
  .package{
    padding: 15px;
    background-color: #fff;
    margin-top: 5px;
    .title{
      display: -webkit-box;
      display: -ms-flexbox;
      display: flex;
      -webkit-box-pack: justify;
      -ms-flex-pack: justify;
      justify-content: space-between;
      padding: 10px 0;
      -webkit-box-sizing: border-box;
      box-sizing: border-box;
      background-color: #fff;
      .text{
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-pack: start;
        -ms-flex-pack: start;
        justify-content: flex-start;
        -webkit-box-align: end;
        -ms-flex-align: end;
        align-items: flex-end;
        .line{
          display: inline-block;
          width: 3px;
          height: 11px;
          border-radius: 1.5px;
          background-color: #f05654;
          margin-right: 4px;
        }
        .lh{
          line-height: 1;
          font-family:PingFang SC;
          font-size: 16px;
          color: #333;
          font-weight: bold;
        }
      }
    }
    .content{
      display: flex;
      justify-content: center;
      align-items: center;
      margin-bottom: 28px;
      .text{
        overflow: hidden;
        -o-text-overflow: ellipsis;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        -webkit-box-orient: vertical;
        padding: 0 14px 0 6px;
        flex-grow: 1;
      }
      .price{
        color: #F05654;
        flex-shrink: 0;
        .icon{
          width: 1em;
          height: 1em;
          vertical-align: middle;
          fill: currentColor;
          overflow: hidden;
          position: relative;
          top: -2px;
          color: #999999;
        }
      }
    }
    //文章样式
    .detailContent{
      display: flex;
      margin-bottom: 10px;
      .ratiobox{
        position: relative;
        min-width: 113px;
        .bookImg{
          left: 0;
          top: 0;
          width: 100%;
          height: 0;
          position: relative;
          background-position: 50%;
          background-repeat: no-repeat;
          background-size: contain;
          padding-bottom: 62%;
          background-color: #fff;
          border-radius: 6px;
        }
      }
      .right{
        padding-left: 12px;
        flex-grow: 1;
        .text{
          font-family:PingFang SC;
          font-size: 16px;
          color: #333;
          width: 100%;
          overflow: hidden;
          -o-text-overflow: ellipsis;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }
      }
    }
    //课程样式
    .classContent{
      display: flex;
      margin-bottom: 15px;
      .ratiobox{
        position: relative;
        min-width: 113px;
        .bookImg{
          left: 0;
          top: 0;
          width: 100%;
          height: 0;
          position: relative;
          background-position: 50%;
          background-repeat: no-repeat;
          background-size: contain;
          padding-bottom: 100%;
          background-color: #fff;
          border-radius: 6px;
        }
      }
      .right{
        -webkit-box-flex: 1;
        -ms-flex-positive: 1;
        flex-grow: 1;
        margin-left: 10px;
        display: -webkit-box;
        display: -ms-flexbox;
        display: flex;
        -webkit-box-orient: vertical;
        -webkit-box-direction: normal;
        -ms-flex-direction: column;
        flex-direction: column;
        -webkit-box-pack: justify;
        -ms-flex-pack: justify;
        justify-content: space-between;
        -ms-flex-line-pack: justify;
        align-content: space-between;
        width: 50%;
        .text{
          font-family:PingFang SC;
          font-size: 16px;
          color: #333;
          width: 100%;
          overflow: hidden;
          -o-text-overflow: ellipsis;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }
        .subTitle{
          font-family:PingFang SC;
          font-size: 14px;
          color: #999999;
          width: 100%;
          overflow: hidden;
          -o-text-overflow: ellipsis;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 2;
          -webkit-box-orient: vertical;
        }
        .nice{
          display: flex;
          .episodes{
            flex-grow: 1;
            .icon{
              width: 1em;
              height: 1em;
              vertical-align: middle;
              fill: currentColor;
              overflow: hidden;
              position: relative;
              top: -2px;
              color: #999999;
            }
            .album_num{
              font-size:12px;
              color: #999999;
            }
          }
          .price{
            flex-shrink: 0;
            font-size:16px;
            color: #F05654 ;
          }
        }
      }
    }
  }
  .footer{
    height: 65px;
    background: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 9px 15px 9px 22px;
    margin-top: 5px;
    .footer-img{
      width: 47px;
      .bookImg{
        left: 0;
        top: 0;
        width: 100%;
        height: 0;
        position: relative;
        background-position: 50%;
        background-repeat: no-repeat;
        background-size: contain;
        padding-bottom: 100%;
        background-color: #fff;
        border: 1px solid #f5f5f5;
        border-radius: 60px;
      }
    }
    .text{
      padding-left: 10px;
      flex-grow: 1;
      color: #666666;
    }
    .icon-footer{
      flex-shrink: 0;
      .icon{
        width: 1em;
        height: 1em;
        vertical-align: middle;
        fill: currentColor;
        overflow: hidden;
        position: relative;
        top: -2px;
        color: #999;
      }
    }
  }









}

