/*
 * author: nancyzeng
 * date:2019/4/25
 */

@charset "utf-8";

#orderdetailPage {
  min-height: 100%;
  box-sizing: border-box;
  background-color: $greyLight;

  & .editBox {
    @include displayFlex (flex, center, center);
    @include font(null, $fontSize, #666);
    height: 45px;
    background-color: $white;
    border-bottom: 1px $greyLight solid;
    padding: 0 15px;
    margin-top: 5px;

    & .icon {
      width: 18px;
      height: 18px;
      position: relative;
    }

    & .title {
      @include font(null, $fontSize + 1, #333);
      margin-right: 10px;
    }

    & .postage {
      @include font(null, $fontSize - 2, #999);
    }
  }

  & .listBox {
    @include displayFlex (flex, center, center);
    border-bottom: 1px $greyLight solid;
    background-color: $white;
    padding: 15px;

    & .left {
      @include flexBasis(80px);
    }

    & .center {
      margin-left: 10px;

      & .title {
        @include twoLines;
        @include font("PingFangBold", $fontSize, #333);
        position: relative;
        top: -5px;

        & .text {
          @include twoLines;
        }
      }

      & .subTitle {
        @include font(null, $fontSize - 1, #999);
        line-height: 17px;
        height: 17px;
        ;
      }

      & .info {
        position: relative;

        & .history {
          @include font("PingFangBold", $fontSize + 1, $redDark);
          margin-right: 8px;
        }

        & .count {
          @include font(null, $fontSize, #999);
        }
      }

    }

  }

}

#orderconfirmPage {
  background-color: $greyLight;

  & .van-button {
    border-radius: 0;
  }

  & .listBox {
  background-color: $white;
    margin-bottom: 5px;
    padding: 10px 15px;

    & .right {
        @include font(null, $fontSize - 1, #999);
        flex-shrink: 0;

      & .icon {
        color: #666;
      }
    }

    & .right.one {
      align-self: flex-start;

      & .icon {
        width: 18px;
        height: 18px;
        margin-top: 4px;
      }
    }
  }

  & .addressBox.img {
    @include clearfix;
    & li {
        width: 45px;
        float: left;
        margin-right: 15px;
    }
  }
  & .addressBox {

    & li {

      & .info {
        @include bgDecorate(null, null, 0, 0 0, null);
        margin: 0 5px;

        & .name {
          @include font("PingFangBold", $fontSize + 2, #333);
          margin-right: 10px;
        }

        & .phone {
          @include font(null, $fontSize, #666);
        }

        & .address {
          margin-top: 5px;
          @include font(null, $fontSize + 1, #666);
        }

      }
    }

  }

  & .van-cell {
    padding: 0 15px;

    &:not(:last-child)::after {
      border: 0;
    }

    & .van-cell__value {
      @include font(null, $fontSize - 1, #333);
    }

    & .van-cell__title {
      @include font(null, $fontSize - 1, #999);
    }
  }

  & .priceInfo.beizhu {
    & .first {
      & .van-cell {
        border-bottom: none;
      }
    }

    & textarea {
        margin: 0 15px 0 15px;
        background-color: #f3f3f3;
        border: none;
        width: calc(100% - 30px);
        line-height: 30px;
        box-sizing: border-box;
        padding: 0 10px;
    }

  }

  & .priceInfo {
    background-color: $white;
    padding: 5px 0;
    margin-top: 5px;

    & .first {
        margin-bottom: 5px;
      & .van-cell {
        line-height: 30px;
        border-bottom: 1px solid $greyLight;

        & .van-cell__title {
          @include font(null, $fontSize + 1, #333);
        }

        & .van-cell__value {
          @include font("PingFangBold", $fontSize - 1, #333);
        }
      }
    }
  }
  & .toMall{
    display: inline-block;
    // width: 65px;
    // height: 24px;
    border:1px solid $redLight;
    line-height:normal;
    padding:2px 5px;
    text-align: center;
    @include font(null, $fontSize - 2, $redLight);
    border-radius: 12px;
  }
  & .van-popup {
    .van-tabs{
      .van-tabs__line{
      background-color: #f05654 !important;
    }
    }
    .sure{
      position:fixed;
      bottom:10px;
      left: 15px;
      background-color: $redLight;
      color:$white;
      width:calc(100% - 30px);
      height: 35px;
      line-height: 35px;
      text-align: center;
      box-sizing: border-box;
      border-radius: 18px;
    }
    .header {
      background-color: #eee;
      padding: 0 15px;
      height: 40px;
      text-align: center;
      box-sizing: border-box;
      // bottom: 0;
      width: 100%;
      @include displayFlex(flex, space-between, center);

      .catalogWord {
        font-size: $fontSize + 1;
        flex-grow: 1;
      }
    }
    .checkedText{
      padding:10px 15px;
      // padding-top:10px;
      @include displayFlex(flex, space-between, center);
    }
    .content.canuse{
      bottom:55px;
      top: 120px;
    }
    .content {
      // padding: 15px;
      position: fixed;
      top: 75px;
      bottom: 0;
      overflow-y: auto;
      width: 100%;
      box-sizing: border-box;
      // background-color: #f5f5f5;
      padding: 10px 15px;

      .toUse.overdue {
        .left {
          background-color: $cl9;
        }

        .mid {
          color: $cl9;
        }

        .right {

          .shopCoupon,
          .used {
            color: $cl9;
          }
        }
      }

      // .toUse.overdue{
      //   background-color: #A6A6A6;
      // }
      .toUse {
        box-sizing: border-box;
        background-color: $white;
        @include displayFlex(flex, null, null);
        align-items: stretch;

        .left {
          width: 8px;
          background-color: $redLight;
          border-radius: 6px 0 0 6px;
        }

        .mid {
          text-align: center;
          width: 30%;
          padding: 10px 5px;
          border-right: 1px dashed #bfbfbf;
          box-sizing: border-box;
          color: $redLight;
          position: relative;

          .price {
            // font-size: $fontSize + 21;
            @include font("PingFangBlod", $fontSize + 10, null);
          }

          .condition {
            white-space: nowrap;
            margin-top: 28px;
          }

          .circle {
            width: 10px;
            height: 10px;
            background-color: #f5f5f5;
            border-radius: 50%;
            position: absolute;
            right: -5px;
          }

          .circle.top {
            top: -5px;
          }

          .circle.bottom {
            bottom: -5px;
          }
        }

        .right {
          // width: 70%;
          flex-grow: 1;
          padding: 10px;
          position: relative;
          .shop {
            margin-left: 70px;
            font-size: $fontSize + 2;
          }

          .time {
            margin-top: 5px;
            font-size: $fontSize - 2;
            color: $cl9;
          }

          .desc {
            margin-top: 40px;
          }

          .used {
            @include font("PingFangBlod", $fontSize , $redLight);
            position: absolute;
            right: 15px;
            top: 35%;
            margin-top:-7px;
          }
          .shopCoupon{
            position: absolute;
            left: 5px;
            top: -10px;
            color:$redLight;
            display: inline-block;
            .icon{
              font-size: 70px;
            }
            .dianpu{
              display: inline-block;
              width: 36px;
              color:$white;
              position: absolute;
              top:50%;
              left: 50%;
              margin-top: -12px;
              margin-left: -20px;
              font-size: 12px;
              @include textOverflow;
            }
          }
        }
      }
    }
    .whyNoUse{
      background-color: #cdcdcd;
      padding:3px 8px;
      font-size: $fontSize - 2;
      margin-top: 5px;
      color:$white;
    }
  }
}
