/*
  author: nancy
  date: 2019/4/25
*/
@charset "UTF-8";

#paysuccessPage {
  background-color: $white;
  min-height: 100%;

  & .icon {
    @include font(null, 60px, $redDark);
  }

  & .content {
    padding: 50px 50px 100px 50px;
    text-align: center;

    & .msg {
      @include font("PingFangBlod", $fontSize + 2, #333);
      margin-top: 5px;
      line-height: 2;
    }

    & .money {
      @include font(null, $fontSize - 2, #666);

      & .price {
        color: $redDark;
      }
    }
  }

  & .recharge {
    padding-left: 50px;
    padding-right: 50px;
  }
}

#accountPage {
  background-color: $greyLight;
  min-height: 100%;

  .content {
    padding: 45px 0 35px 0;
    color: $cl3;
    text-align: center;
    font-size: $fontSize + 6;

    .money {
      @include font("PingFangBlod", $fontSize + 26, null);
    }

    .currentRemain {
      font-size: $fontSize - 2;
      margin-top: 0px;
    }
  }

  .account {
    padding-left: 20px;
    padding-right: 20px;
    font-size: $fontSize + 1;

    .choose {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: -10px;
      margin-bottom: 15px;

      li {
        box-sizing: border-box;
        font-size: $fontSize;
        color: $redDark;
        line-height: 40px;
        border: 1px solid #cecece;
        border-radius: 6px;
        width: 22%;
        text-align: center;
        margin-top: 25px;
      }

      .active {
        background-color: #ffeded;
        border: 1px solid $redDark;
      }
    }

    .explain {
      font-size: $fontSize - 2;
    }
  }

  .recharge {
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 45px;
  }
}

#recordPage {
  min-height: 100%;
  background-color: $greyLight;
  font-size: $fontSize - 2;
  color: $cl0;

  .head {
    margin-bottom: 10px;
    background-color: $white;
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
    height: 50px;

    .income {
      background-color: $greyLight;
      height: 25px;
      line-height: 25px;
      padding: 2px 8px 2px 16px;

      .arrow {
        color: $cl9;
      }
    }

    .num {
      font-size: $fontSize - 2;
      color: $cl3;
    }
  }

  .content {
    padding-left: 15px;
    padding-right: 15px;
    background-color: $white;
    height: 72px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $greyLight;

    .chong {
      width: 40px;
      height: 40px;
      line-height: 40px;
      background-color: $clC;
      text-align: center;
      border-radius: 40px;
      color: $white;
      font-size: $fontSize + 8;
    }

    .detail {
      margin-left: 5px;
      flex-grow: 1;

      .top {
        display: flex;
        justify-content: space-between;

        .into {
          font-size: $fontSize + 1;
          color: $cl3;
        }

        .money {
          font-size: $fontSize + 6;
          color: $cl3;
        }
      }

      .bottom {
        display: flex;
        justify-content: space-between;

        .date {
          font-size: $fontSize - 2;
          color: $cl9;
        }

        .order {
          font-size: $fontSize - 2;
          color: $redDark;
        }
      }
    }
  }
}

#detailPage {
  min-height: 100%;
  background-color: $greyLight;
  font-size: $fontSize - 2;
  color: $cl0;

  .head {
    margin-bottom: 10px;
    background-color: $white;
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
    height: 50px;

    .income {
      background-color: $greyLight;
      height: 25px;
      line-height: 25px;
      padding: 2px 8px 2px 16px;

      .arrow {
        color: $cl9;
      }
    }

    .num {
      font-size: $fontSize - 2;
      color: $cl3;
      display: flex;
      flex-direction: column;
    }
  }

  .content {
    padding-left: 15px;
    padding-right: 15px;
    background-color: $white;
    height: 72px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $greyLight;

    .chong {
      width: 40px;
      height: 40px;
      line-height: 40px;
      background-color: $clC;
      text-align: center;
      border-radius: 40px;
      color: $white;
      font-size: $fontSize + 8;
    }

    .detail {
      margin-left: 5px;
      flex-grow: 1;

      .top {
        display: flex;
        justify-content: space-between;

        .into {
          font-size: $fontSize + 1;
          color: $cl3;
        }

        .money {
          font-size: $fontSize + 6;
          color: $cl3;
        }
      }

      .bottom {
        display: flex;
        justify-content: space-between;

        .date {
          font-size: $fontSize - 2;
          color: $cl9;
        }

        .order {
          font-size: $fontSize - 2;
          color: $redDark;
        }
      }
    }
  }
}

#payIndex {
  
  background-color: $greyLight;
  min-height: 100%;

  & .bottomBox {
    & .icon {
      width: 18px;
      height: 18px;
      margin-right: 5px;
      position: relative;
    }
  }

  & .content {
    padding: 50px 50px 100px 50px;
    text-align: center;

    & .msg {
      @include font("PingFangBlod", $fontSize - 1, #333);
      line-height: 2;
    }

    .money {
      @include font(null, 24px, $redDark);

      & .price {
        font-size: 36px;
      }
    }
  }
}

#payaccountPage {

  background-color: $greyLight;
  min-height: 100%;

  & .codeBox {

    text-align: center;
    padding: 20px;

    & .price {
      @include font("PingFangBold", $fontSize + 1, $redDark);
      line-height: 2;

      & .money {
        font-size: $fontSize + 4;
      }
    }

    & .code {
      @include font(null, $fontSize - 1, #999);
      padding: 10px 0;
      line-height: 30px;
    }
  }

  & .tip {
    @include font(null, $fontSize - 2, #999);
    background-color: $white;
    padding: 10px 15px;
  }

  & .editBox {
    @include displayFlex (flex, center, center);
    @include font(null, $fontSize, #666);
    height: 45px;
    background-color: $white;
    border-bottom: 1px $greyLight solid;
    padding: 0 15px;
    margin-top: 5px;

    & .title {
      @include font(null, $fontSize + 1, #333);
      margin-right: 10px;
    }
  }


  & .listBox.disable {
    & .list {
      opacity: .5;
    }
  }
}

#payaccountPage {
  
  & .listBox {
    @include displayFlex (flex, flex-start, center);
    border-bottom: 1px $greyLight solid;
    background-color: $white;
    padding: 15px;

    & .title {
      @include font("PingFangBold", $fontSize, #333);
      @include twoLines;
      white-space: pre-wrap;
      position: relative;
      height: 40px;

      & .text {
        @include twoLines;
        white-space: pre-wrap;
      }
    }

    & .info {
      position: relative;
      margin-top: 10px;

      & .history {
        @include font("PingFangBold", $fontSize + 1, $redDark);
        margin-right: 8px;
      }
    }

    & .list {
      @include displayFlex (flex, center, center);

      & .check {
        margin-right: 10px;

        & .icon {
          color: #999;
        }
      }

      & .left {
        @include flexBasis(80px);
      }

      & .center {
        margin-left: 10px;

      }
    }

    & .center {
      @include textOverflow;

      & .title {
        @include textOverflow;
        @include font("PingFangBold", $fontSize + 1, #666);
        top: 0;
      }

    }

    & .weixin {

      & .icon {
        color: $greenLight;
        width: 25px;
        height: 25px;
        position: relative;
      }
    }

    & .left.two {
      text-align: right;

      & .van-button {
        height: 30px;
        line-height: 30px;
      }
    }

    & .wallet {
      & .icon {
        color: $redLight;
        width: 25px;
        height: 25px;
        position: relative;
      }
    }
  }
}
