/*
  author: nancy
  date: 2019/4/25
*/
@charset "UTF-8";

#paysuccessPage {
  background-color: $white;
  min-height: 100%;

  & .icon {
    @include font(null, 60px, $redDark);
  }

  & .content {
    padding: 50px 50px 100px 50px;
    text-align: center;

    & .msg {
      @include font("PingFangBlod", $fontSize + 2, #333);
      margin-top: 5px;
      line-height: 2;
    }

    & .money {
      @include font(null, $fontSize - 2, #666);

      & .price {
        color: $redDark;
      }
    }
  }

  & .recharge {
    padding-left: 50px;
    padding-right: 50px;
  }

  .app_pic {
    margin: 33px 32px;
    width: 246px;
    height: 165px;
    @include bgImageOne('./../../../assets/pay/app');
    background-size: contain;
    background-repeat: no-repeat;
  }
  .app_txt {
    margin: 0 0 40px 0;
    padding: 0 20px;
    text-align: center;
    font-size: 14px;
    font-family: PingFang SC;
    font-weight: 500;
    color: #333333;
    line-height: 20px;
  }
  .button {
    display: flex;
    justify-content: space-between;
    margin-top: 25px;
    .refuse {
      flex-grow: 1;
      text-align: center;
    }
    .open_app {
      flex-grow: 1;
      text-align: center;
    }
    .van-button--primary {
      border-radius: 3px;
      .van-button__text {
        font-size: 15px;
        font-family: PingFang SC;
        font-weight: 500;
        color: #FFFFFF;
      }
    }
    .van-button--default {
      border: none;
      border-radius: 3px;
      .van-button__text {
        font-size: 15px;
        font-family: PingFang SC;
        font-weight: 500;
        color: #F05654;
      }
    }
  }
}

#accountPage {
  background-color: $greyLight;
  min-height: 100%;

  .content {
    padding: 45px 0 35px 0;
    color: $cl3;
    text-align: center;
    font-size: $fontSize + 6;

    .money {
      @include font("PingFangBlod", $fontSize + 26, null);
    }

    .currentRemain {
      font-size: $fontSize - 2;
      margin-top: 0px;
    }
  }

  .account {
    padding-left: 20px;
    padding-right: 20px;
    font-size: $fontSize + 1;

    .choose {
      display: flex;
      flex-wrap: wrap;
      justify-content: space-between;
      margin-top: -10px;
      margin-bottom: 15px;

      li {
        box-sizing: border-box;
        font-size: $fontSize;
        color: $redDark;
        line-height: 40px;
        border: 1px solid #cecece;
        border-radius: 6px;
        width: 22%;
        text-align: center;
        margin-top: 25px;
      }

      .active {
        background-color: #ffeded;
        border: 1px solid $redDark;
      }
    }

    .explain {
      font-size: $fontSize - 2;
    }
  }

  .recharge {
    padding-left: 50px;
    padding-right: 50px;
    margin-top: 45px;
  }

}

#recordPage {
  min-height: 100%;
  background-color: $greyLight;
  font-size: $fontSize - 2;
  color: $cl0;

  .head {
    margin-bottom: 10px;
    background-color: $white;
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
    height: 50px;

    .income {
      background-color: $greyLight;
      height: 25px;
      line-height: 25px;
      padding: 2px 8px 2px 16px;

      .arrow {
        color: $cl9;
      }
    }

    .num {
      font-size: $fontSize - 2;
      color: $cl3;
    }
  }

  .content {
    padding-left: 15px;
    padding-right: 15px;
    background-color: $white;
    height: 72px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $greyLight;

    .chong {
      width: 40px;
      height: 40px;
      line-height: 40px;
      background-color: $clC;
      text-align: center;
      border-radius: 40px;
      color: $white;
      font-size: $fontSize + 8;
    }

    .detail {
      margin-left: 5px;
      flex-grow: 1;

      .top {
        display: flex;
        justify-content: space-between;

        .into {
          font-size: $fontSize + 1;
          color: $cl3;
        }

        .money {
          font-size: $fontSize + 6;
          color: $cl3;
        }
      }

      .bottom {
        display: flex;
        justify-content: space-between;

        .date {
          font-size: $fontSize - 2;
          color: $cl9;
        }

        .order {
          font-size: $fontSize - 2;
          color: $redDark;
        }
      }
    }
  }
}

#detailPage {
  min-height: 100%;
  background-color: $greyLight;
  font-size: $fontSize - 2;
  color: $cl0;

  .head {
    margin-bottom: 10px;
    background-color: $white;
    display: flex;
    justify-content: space-between;
    padding-left: 15px;
    padding-right: 15px;
    align-items: center;
    height: 50px;

    .income {
      background-color: $greyLight;
      height: 25px;
      line-height: 25px;
      padding: 2px 8px 2px 16px;

      .arrow {
        color: $cl9;
      }
    }

    .num {
      font-size: $fontSize - 2;
      color: $cl3;
      display: flex;
      flex-direction: column;
    }
  }

  .content {
    padding-left: 15px;
    padding-right: 15px;
    background-color: $white;
    height: 72px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid $greyLight;

    .chong {
      width: 40px;
      height: 40px;
      line-height: 40px;
      background-color: $clC;
      text-align: center;
      border-radius: 40px;
      color: $white;
      font-size: $fontSize + 8;
    }

    .detail {
      margin-left: 5px;
      flex-grow: 1;

      .top {
        display: flex;
        justify-content: space-between;

        .into {
          font-size: $fontSize + 1;
          color: $cl3;
        }

        .money {
          font-size: $fontSize + 6;
          color: $cl3;
        }
      }

      .bottom {
        display: flex;
        justify-content: space-between;

        .date {
          font-size: $fontSize - 2;
          color: $cl9;
        }

        .order {
          font-size: $fontSize - 2;
          color: $redDark;
        }
      }
    }
  }
}

#payIndex {

  background-color: $white;
  min-height: 100%;

  & .bottomBox {
    & .icon {
      width: 18px;
      height: 18px;
      margin-right: 5px;
      position: relative;
    }
  }

  & .content {
    padding: 50px 50px 100px 50px;
    text-align: center;

    & .msg {
      @include font("PingFangBlod", $fontSize - 1, #333);
      line-height: 2;
    }

    .money {
      @include font(null, 24px, $redDark);

      & .price {
        font-size: 36px;
      }
    }
  }
}

#payaccountPage {

  background-color: $greyLight;
  min-height: 100%;

  & .codeBox {

    text-align: center;
    padding: 20px;

    & .price {
      @include font("PingFangBold", $fontSize + 1, $redDark);
      line-height: 2;

      & .money {
        font-size: $fontSize + 4;
      }
    }

    & .code {
      @include font(null, $fontSize - 1, #999);
      padding: 10px 0;
      line-height: 30px;
    }
  }

  & .tip {
    @include font(null, $fontSize - 2, #999);
    background-color: $white;
    padding: 10px 15px;
  }

  & .editBox {
    @include displayFlex (flex, center, center);
    @include font(null, $fontSize, #666);
    height: 45px;
    background-color: $white;
    border-bottom: 1px $greyLight solid;
    padding: 0 15px;
    margin-top: 5px;

    & .title {
      @include font(null, $fontSize + 1, #333);
      margin-right: 10px;
    }
  }

  & .listBox.disable {
    & .list {
      opacity: .5;
    }
  }
}

#payaccountPage {

  & .listBox {
    @include displayFlex (flex, flex-start, center);
    border-bottom: 1px $greyLight solid;
    background-color: $white;
    padding: 15px;

    & .title {
      @include font("PingFangBold", $fontSize, #333);
      @include twoLines;
      white-space: pre-wrap;
      position: relative;
      height: 40px;

      & .text {
        @include twoLines;
        white-space: pre-wrap;
      }
    }

    & .info {
      position: relative;
      margin-top: 10px;

      & .history {
        @include font("PingFangBold", $fontSize + 1, $redDark);
        margin-right: 8px;
        .promotion {
          font-size: $fontSize - 1;
          color: #999;
          margin-left: 10px;
        }
      }
    }

    & .list {
      @include displayFlex (flex, center, center);

      & .check {
        margin-right: 10px;

        & .icon {
          color: #999;
        }
      }

      & .left {
        @include flexBasis(80px);
      }

      & .center {
        margin-left: 10px;

      }
    }

    & .center {
      @include textOverflow;

      & .title {
        @include textOverflow;
        @include font("PingFangBold", $fontSize + 1, #666);
        top: 0;
      }

    }

    & .weixin {

      & .icon {
        color: $greenLight;
        width: 25px;
        height: 25px;
        position: relative;
      }
    }

    & .left.two {
      text-align: right;

      & .van-button {
        height: 30px;
        line-height: 30px;
      }
    }

    & .wallet {
      & .icon {
        color: $redLight;
        width: 25px;
        height: 25px;
        position: relative;
      }
    }
  }
  & .toMall {
    display: inline-block;
    // width: 65px;
    // height: 24px;
    border: 1px solid $redLight;
    line-height: normal;
    padding: 2px 5px;
    text-align: center;
    @include font(null, $fontSize - 2, $redLight);
    border-radius: 12px;
  }
  & .van-popup {
    .van-tabs {
      .van-tabs__line {
        background-color: #f05654 !important;
      }
    }
    .sure {
      position: fixed;
      bottom: 10px;
      left: 15px;
      background-color: $redLight;
      color: $white;
      width: calc(100% - 30px);
      height: 35px;
      line-height: 35px;
      text-align: center;
      box-sizing: border-box;
      border-radius: 18px;
    }
    .header {
      background-color: #eee;
      padding: 0 15px;
      height: 40px;
      text-align: center;
      box-sizing: border-box;
      // bottom: 0;
      width: 100%;
      @include displayFlex(flex, space-between, center);

      .catalogWord {
        font-size: $fontSize + 1;
        flex-grow: 1;
      }
    }
    .checkedText {
      padding: 10px 15px;
      // padding-top:10px;
      @include displayFlex(flex, space-between, center);
    }
    .content.canuse {
      bottom: 55px;
      // top: 120px;
    }
    .content {
      // padding: 15px;
      position: fixed;
      top: 75px;
      bottom: 0;
      overflow-y: auto;
      width: 100%;
      box-sizing: border-box;
      // background-color: #f5f5f5;
      padding: 10px 15px;

      .toUse.overdue {
        .left {
          background-color: $cl9;
        }

        .mid {
          color: $cl9;
        }

        .right {

          .shopCoupon,
          .used {
            color: $cl9;
          }
        }
      }

      // .toUse.overdue{
      //   background-color: #A6A6A6;
      // }
      .toUse {
        box-sizing: border-box;
        background-color: $white;
        @include displayFlex(flex, null, null);
        align-items: stretch;

        .left {
          width: 8px;
          background-color: $redLight;
          border-radius: 6px 0 0 6px;
        }

        .mid {
          text-align: center;
          width: 30%;
          padding: 10px 5px;
          border-right: 1px dashed #bfbfbf;
          box-sizing: border-box;
          color: $redLight;
          position: relative;

          .price {
            // font-size: $fontSize + 21;
            @include font("PingFangBlod", $fontSize + 10, null);
          }

          .condition {
            white-space: nowrap;
            margin-top: 28px;
          }

          .circle {
            width: 10px;
            height: 10px;
            background-color: #f5f5f5;
            border-radius: 50%;
            position: absolute;
            right: -5px;
          }

          .circle.top {
            top: -5px;
          }

          .circle.bottom {
            bottom: -5px;
          }
        }

        .right {
          // width: 70%;
          flex-grow: 1;
          padding: 10px;
          position: relative;
          .shop {
            margin-left: 70px;
            font-size: $fontSize + 2;
          }

          .time {
            margin-top: 5px;
            font-size: $fontSize - 2;
            color: $cl9;
          }

          .desc {
            margin-top: 40px;
          }

          .used {
            @include font("PingFangBlod", $fontSize, $redLight);
            position: absolute;
            right: 15px;
            top: 35%;
            margin-top: -7px;
          }
          .shopCoupon {
            position: absolute;
            left: 5px;
            top: -10px;
            color: $redLight;
            display: inline-block;
            .icon {
              font-size: 70px;
            }
            .dianpu {
              display: inline-block;
              width: 36px;
              color: $white;
              position: absolute;
              top: 50%;
              left: 50%;
              margin-top: -12px;
              margin-left: -20px;
              font-size: 12px;
              @include textOverflow;
            }
          }
        }
      }
    }
    .whyNoUse {
      background-color: #cdcdcd;
      padding: 3px 8px;
      font-size: $fontSize - 2;
      margin-top: 5px;
      color: $white;
    }
  }
}
