/*
 * author: lufei
 * date:2019/4/18
 */

#searchPage{
  .van-row{
    flex-wrap: wrap;
  }
  .van-search{
    padding: 8px 15px;
    input::placeholder{
      font-size: $fontSize - 1;
      color: $cl9;
    }
    .van-search__action{
      font-size: $fontSize + 2;
      color: $cl6;
    }
  }
  .searchRecommend{
    padding-left: 15px;
    padding-right: 15px;
    .recommend{
      font-size: $fontSize + 1;
      color: $cl0;
      margin: 15px 0;
    }
    .van-tag{
      padding: 0.2em 1.0em;
    }
  }
  .searchHistory{
    padding-left: 15px;
    padding-right: 15px;
    margin-top: 50px;
    .title{
      @include displayFlex(flex,space-between,center);
      .history{
        font-size: $fontSize + 1;
        color: $cl0;
      }
      .clear{
        color: $cl6;
      }
    }
    ul{
      margin-top: 15px;
      li{
        @include textOverflow;
        display: inline-block;
        width: 22%;
        border-radius: 12px;
        line-height: 24px;
        background-color: $greyLight;
        color: $cl6;
        margin: 0 0 15px 10px;
        text-align: center;
        &:nth-child(4n+1){
          margin-left: 0px;
        }
      }
    }
  }
}
