/*
 * author: lufei
 * date:2019/9/12
 */
@charset "utf-8";

#ebookDetailPage {
  background-color: #f5f5f5;
  min-height: 100%;

  .goodsInfo {
    background-color: #FFF;
    padding: 15px;

    .info {
      @include displayFlex(flex, null, null);

      .ratiobox {
        min-width: 112px;

        .bookImg {
          box-sizing: border-box;
          display: block;
          @include ratioBox(100%,
            133.33%,
            1px solid $greyLight,
            contain,
            $white,
            null);
          border-radius: 3px;
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
        }
      }

      .right {
        flex-grow: 1;
        width: 60%;
        margin-left: 10px;
        display: flex;
        flex-direction: column;
        align-content: space-between;
        justify-content: space-between;

        .title {
          font-size: $fontSize + 2;
          @include textOverflow;
        }

        .author {
          color: $cl6;
          @include textOverflow;
        }

        .category {
          color: $cl9;
          @include textOverflow;
        }

        .price {
          color: $redLight;

          // font-weight: bold;
          .original {
            font-size: $fontSize - 1;
            color: $cl9;
            margin-left: 15px;
          }
        }

        .promotion {
          color: #F3AE42;
        }
      }
    }

    .descript {
      color: $cl6;
      margin: 10px 0;
      font-size: $fontSize + 1;
      word-break: break-all;
      word-wrap: break-word;
      overflow: hidden;
      text-overflow: ellipsis;
      display: -webkit-box;
      -webkit-line-clamp: 5;
      -webkit-box-orient: vertical;
    }

  }

  & .watchCatalog {
    padding: 0 15px;
    margin: 5px 0;
    background-color: #FFF;

    .van-cell__value {
      display: none;
    }
  }

  & .brand_info {
    background-color: #fff;
    margin-top: 5px;
    padding: 10px 15px;
    @include displayFlex(flex, space-between, center);

    & .left {
      @include displayFlex(flex, null, center);

      & .ratiobox {
        min-width: 47px;
        margin-right: 10px;

        .bookImg {
          @include ratioBox (100%, 100%, 1px solid $greyLight, contain, $white, null);
          border-radius: 50%;
        }
      }

      .name {
        @include font(null, $fontSize + 2, $cl6);
      }
    }

    .toMall {
      display: inline-block;
      width: 70px;
      height: 30px;
      border: 1px solid $cl9;
      line-height: 30px;
      text-align: center;
      @include font(null, $fontSize, $cl9);
      border-radius: 15px;
      padding: 0;
    }

    .toMall.foucs {
      border: none;
      color: $white;
      background-color: $redLight;
    }
  }

  .recommend {
    background-color: $white;
    margin-top: 5px;
    padding-top: 15px;

    .text {
      margin-left: 15px;
      font-size: $fontSize + 3;
    }

    .recommendInfo {
      padding: 15px 0 15px 15px;

      .ratiobox {
        min-width: 77px;

        .bookImg {
          display: block;
          @include ratioBox (100%, 133.3%, 1px solid $greyLight, contain, $white, null);
          border-radius: 3px;
          box-sizing: border-box;
          box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
        }
      }

      .recommendName {
        @include font("PingFangBlod", $fontSize - 1, null);
        margin-top: 5px;
        @include twoColtextOverflow;
      }

      .nickname {
        font-size: $fontSize - 2;
        color: $cl9;
        @include textOverflow;
        margin-top: 5px;
      }
    }
  }

  // 优惠券
  & .van-popup {
    .header {
      // background-color: #f5f5f5;
      padding: 0 15px;
      height: 40px;
      @include displayFlex(flex, space-between, center);

      .catalogWord {
        font-size: $fontSize + 1;
      }
    }

    .content {
      // padding: 15px;
      position: absolute;
      top: 40px;
      bottom: 0;
      overflow-y: auto;
      width: 100%;
      box-sizing: border-box;
      // background-color: #f5f5f5;
      padding: 10px 15px;

      .toUse.overdue {
        .left {
          background-color: $cl9;
        }

        .mid {
          color: $cl9;
        }

        .right {

          .shopCoupon,
          .used {
            color: $cl9;
          }
        }
      }

      // .toUse.overdue{
      //   background-color: #A6A6A6;
      // }
      .toUse {
        box-sizing: border-box;
        background-color: $white;
        @include displayFlex(flex, null, null);
        align-items: stretch;

        .left {
          width: 8px;
          background-color: $redLight;
          border-radius: 6px 0 0 6px;
        }

        .mid {
          text-align: center;
          width: 30%;
          padding: 10px 5px;
          border-right: 1px dashed #bfbfbf;
          box-sizing: border-box;
          color: $redLight;
          position: relative;

          .price {
            // font-size: $fontSize + 21;
            @include font("PingFangBlod", $fontSize + 10, null);
          }

          .condition {
            white-space: nowrap;
            margin-top: 28px;
          }

          .circle {
            width: 10px;
            height: 10px;
            background-color: #f5f5f5;
            border-radius: 50%;
            position: absolute;
            right: -5px;
          }

          .circle.top {
            top: -5px;
          }

          .circle.bottom {
            bottom: -5px;
          }
        }

        .right {
          // width: 70%;
          flex-grow: 1;
          padding: 10px;
          position: relative;

          .shop {
            margin-left: 70px;
            font-size: $fontSize + 2;
          }

          .time {
            margin-top: 5px;
            font-size: $fontSize - 2;
            color: $cl9;
          }

          .desc {
            margin-top: 40px;
          }

          .used {
            @include font("PingFangBlod", $fontSize + 46, $redLight);
            position: absolute;
            right: -15px;
            bottom: -15px;
          }

          .shopCoupon {
            position: absolute;
            left: 5px;
            top: -10px;
            color: $redLight;
            display: inline-block;

            .icon {
              font-size: 70px;
            }

            .dianpu {
              display: inline-block;
              width: 36px;
              color: $white;
              position: absolute;
              top: 50%;
              left: 50%;
              margin-top: -12px;
              margin-left: -20px;
              font-size: 12px;
              @include textOverflow;
            }
          }
        }
      }
    }
  }

  & .toMall {
    display: inline-block;
    // width: 65px;
    // height: 24px;
    border: 1px solid $redLight;
    line-height: normal;
    padding: 2px 5px;
    text-align: center;
    @include font(null, $fontSize - 2, $redLight);
    border-radius: 12px;
    margin-right: 5px;
  }

  & .toMall.btn {
    position: absolute;
    top: 45px;
    right: 5px;
  }

  & .toMall.red {
    background-color: $redLight;
    color: $white;
  }

  // 评论
  & .commentBox {
    background-color: $white;
    margin-top: 5px;

    & .commentWord {
      padding: 15px;
      font-size: $fontSize + 2;
    }

    & .foot {
      height: 50px;
      box-sizing: border-box;
      padding: 6px 15px;

      .comment {
        padding: 0 15px;
        background-color: #f5f5f5;
        border-radius: 16px;
        height: 37px;
        line-height: 37px;
        color: $cl6;
      }
    }

    & .listBox {
      @include displayFlex (flex, null, flex-start);
      padding: 15px;
      background-color: $white;
      border-bottom: 1px solid $greyLight;

      & .left {
        @include flexBasis (35px);
        margin-right: 10px;
        margin-top: 5px;

        & .ratioBox {
          border-radius: 35px;
        }
      }

      & .center {
        display: block;

        & .title {
          @include font("PingFangBold", $fontSize - 1, #666);
          @include textOverflow;
          display: block;

          & .text {
            @include textOverflow;
            display: block;
            padding-right: 0;
          }
        }

        & .subTitle {
          @include font("PingFangBold", $fontSize, #333);
          margin-top: 5px;
          white-space: pre-wrap;
          word-break: break-all;
          word-wrap: break-word;
          overflow: visible;
          -webkit-line-clamp: 1000;
        }

        & .messageBox {
          background-color: #f7f7f7;
          padding: 5px;
          margin-top: 5px;
          font-size: $fontSize - 1;

          & .message {
            display: none;
            margin-top: 2px;

            & .name {
              color: $orangeLight;
            }

            & .dialog {
              color: #666;
            }
          }

          & .message.active {
            display: block;
          }
        }

        // 回复
        & .answerBox {
          margin-top: 15px;

          & .date {
            @include font(null, $fontSize - 1, #999);
            margin-right: 15px;
          }

          & .action {
            @include font(null, $fontSize - 1, #333);
            margin-right: 15px;
          }
        }
      }
    }

  }

  & .audioList {
    position: relative;
    height: 94vh;
    overflow: hidden;

    & .title {
      height: 44px;
      line-height: 44px;
      border-bottom: 1px #eee solid;
      text-align: center;
      position: relative;
      @include displayFlex(flex, center, center);
      @include font(null, $fontSize + 2, #999);

      & .action {
        @include position(absolute, "tl", 0, 0, 44px, 44px, null);

        & .icon {
          width: 20px;
          height: 20px;
        }
      }

      & .punish {
        @include position(absolute, "tr", 0, 0, 60px, 44px, null);
        color: $redDark;
      }
    }

    & .content {
      padding: 10px;

      & textarea {
        width: 100%;
        border: 1px #ccc solid;
        border-radius: 5px;
        padding: 5px;
        box-sizing: border-box;
        min-height: 100px;
      }

      & .count {
        font-size: $fontSize - 2;
        color: #999;
        text-align: right;

        & .active {
          color: $redDark;
        }
      }


    }
  }

  .van-popup .detailList {
    .head {
      @include displayFlex(flex, flex-end, center);
      font-size: $fontSize + 1;
      padding: 10px 15px;
    }

    .content {
      position: absolute;
      bottom: 0;
      top: 35px;
      overflow-y: auto;
      box-sizing: border-box;
      width: 100%;
      padding: 0 15px;

      .word {
        font-size: $fontSize + 3;
      }

      .descript {
        margin: 10px 0;
        color: $cl6;
        word-break: break-all;
        word-wrap: break-word;
      }

      .publish {
        margin: 10px 0;
        color: $cl9;
      }

      .list {
        margin-top: 10px;

        ul {
          li {
            padding: 10px 0;
            border-bottom: 1px solid #eee;
            @include displayFlex(flex, space-between, center);

            .left {
              // flex-grow: 1;
              width: 95%;
              @include displayFlex(flex, null, center);
            }

            .left.grey {
              color: $cl9;
            }

            .left.red {
              color: $redDark;
            }

            .title {
              @include textOverflow;
              width: 80%;
              // margin-left: 10px;
            }
          }
        }
      }
    }
  }

  .bottom {
    position: fixed;
    bottom: 0;
    z-index: 99;
    box-sizing: border-box;
    width: 100%;
    border-top: 1px solid #dcdcdc;
    height: 45px;
    background-color: #FFF;
    font-size: $fontSize + 1;

    .isbuy {
      @include displayFlex(flex, space-between, center);

      div {
        height: 100%;
        line-height: 45px;
        text-align: center;
        width: 33.33%;
      }
    }

    .nobuy {
      @include displayFlex(flex, space-between, center);

      div {
        height: 100%;
        line-height: 45px;
        text-align: center;
        width: 50%;
      }
    }

    .shelf {
      border-right: 1px solid #dcdcdc;
    }

    .read {
      background-color: $redLight;
      color: $white;
    }
  }

  .van-dialog {
    & .codeBox {
      text-align: center;
      padding: 20px;

      & .price {
        @include font("PingFangBold", $fontSize + 1, $redDark);
        line-height: 2;

        & .money {
          font-size: $fontSize + 4;
        }
      }

      & .code {
        @include font(null, $fontSize - 1, #999);
        padding: 10px 0;
        line-height: 30px;
      }
    }
  }

  // 拼团
  .group {
    padding: 15px;

    .top {
      @include displayFlex(flex, space-between, null);

      & .ratiobox {
        min-width: 100px;
        margin-right: 10px;

        .bookImg {
          @include ratioBox (100%, 100%, 1px solid $greyLight, contain, $white, null);
          border-radius: 3px;
        }
      }

      .right {
        flex-grow: 1;
        flex-direction: column;
        display: flex;
        width: 50%;
        justify-content: space-between;
        align-content: space-between;
        padding: 5px 0;

        .title {
          @include twoColtextOverflow;
          font-size: $fontSize + 1;
        }

        .desc {
          color: $redLight;
        }

        .sign {
          display: inline-block;
          background-color: #FFECEC;
          border-radius: 5px;
          font-size: $fontSize - 4;
          color: $redLight;
          padding: 0 3px;
          width: 120px;
        }
      }
    }

    .list {
      position: absolute;
      top: 110px;
      bottom: 110px;
      overflow-y: auto;
      width: calc(100% - 30px);

      .content {
        @include displayFlex(flex, space-between, center);
        padding: 0;
        padding-bottom: 15px;
        position: relative;

        .left {

          // width:70px;
          img {
            border-radius: 50%;
            border: 1px solid $white;
            position: absolute;
            top: 4px;
          }

          .over,
          .add {
            display: inline-block;
            width: 30px;
            height: 30px;
            line-height: 30px;
            border-radius: 50%;
            border: 1px solid $white;
            text-align: center;
            color: $white;
            background-color: #BFBFBF;
            position: absolute;
            top: 4px;
          }

          .add {
            background-color: #DCDCDC;
          }
        }

        .mid {
          margin-left: 55px;

          .time {
            color: $cl9;
            font-size: $fontSize - 2;
          }
        }

        .right {
          .van-button {
            border-radius: 15px;
            min-width: 75px;
          }
        }
      }
    }

    .groupbottom {
      position: absolute;
      bottom: 15px;
      width: calc(100% - 30px);

      .text {
        color: $cl9;
        font-size: $fontSize - 3;
        text-align: center;
        margin-bottom: 10px;
      }

      .van-button {
        width: 100%;
        height: 40px;
        border-radius: 20px;
        font-size: $fontSize + 2;
      }
    }
  }
}
