/*
 * author: lufei
 * date:2019/9/12
 */
@charset "utf-8";

#ebookshelfPage {
  padding: 0px 15px;

  & .booklist {
    // width: calc(100% + 10px);
    background-color: $white;
    box-sizing: border-box;
    flex-wrap: wrap;
    .van-col{
      margin-top:20px;
    }
    & .title {
      @include twoColtextOverflow;
      // height: 38px;
      @include font("PingFangBold", $fontSize + 1, null);
      margin-top: 8px;
      line-height: 1.2;
    }
    .schedule{
      color:$cl9;
      margin-top:5px;
    }
    .ratiobox {
      position: relative;

      .bookImg {
        display: block;
        @include ratioBox (100%, 133.33%, 1px solid $greyLight, contain, $white, null);
        border-radius: 3px;
        box-shadow: 0 0 4px rgba(0, 0, 0, 0.1);
        box-sizing: border-box;
      }
      .tags{
        position: absolute;
        top:5px;
        left:5px;
        background-color: rgba(0,0,0,0.4);
        border-radius: 3px;
        padding:2px 5px;
        color:$white;
        font-size: $fontSize - 2;
      }
    }
  }

}
