/*
 * author: lrf
 * date:2020/1/16
 */

@charset "UTF-8";

#verificationPage {
  background-color: $white;
  min-height: 100%;
  overflow: hidden;
  padding: 0 40px;
  p {
    margin: 0;
  }
  .info {
    margin-top: 65px;
    font-size: 18px;
    font-family: PingFang SC;
    font-weight: 500;
    color: #333333;
    line-height: 28px;
    height: 28px;
  }
  .phone {
    font-family: PingFang SC;
    font-weight: 500;
    color: #333333;
    line-height: 24px;
    height: 24px;
  }
  .van-password-input {
    margin-top: 106px;
  }
  .van-password-input__security li:not(:last-of-type) {
    margin-right: 28px;
  }
  .van-password-input__security li:after {
    border: none;
    border-bottom: 0.5px solid #333333;
  }
  .van-hairline--surround:after {
    border: none;
  }
  .tips {
    margin-top: 25px;
    font-family: PingFang SC;
    font-weight: 500;
    color: #F05654;
  }
}

