/*
 * author: lrf
 * date:2020/1/16
 */

@charset "UTF-8";

#passwordLoginPage {
  background-color: $white;
  min-height: 100%;
  overflow: hidden;
  p, h3 {
    margin: 0;
  }
  .huoba_pic {
    margin: 0 auto;
    margin-top: 45px;
    width: 61px;
    height: 60px;
    background-size: contain;
    background-repeat: no-repeat;
    @include bgImageTwo('./../../../../../assets/login2.0/huobaApp');
  }
  .huoba_name {
    margin-top: 4px;
    text-align: center;
    font-size: 16px;
    font-family: PingFang SC;
    font-weight: bold;
    color: #000000;
  }
}
