/*
 * author: nancyzeng
 * date:2019/4/18
 */

 @charset "UTF-8";

 @import url("./../../../components/button.scss");
 @import url("./../../../components/dateTimePicker.scss")
;
 #addressPage {
     

    .van-address-edit__buttons {
        padding: 100px 50px;
    }
    .van-cell:not(:last-child)::after {
        border-bottom: 1px #f6f6f6 solid;
    }
    .van-cell {
        font-size: $fontSize + 1;
        color: #333;
    }
 }