/*
 * author: nancyzeng
 * date:2019/4/17
 */

@charset "UTF-8";

#cancelPage {
  padding: 0 15px;

  & .tilte {
    @include font(null, $fontSize + 3, #333);
    padding: 20px 0;
  }

  & .reasonBox {
      & li {
          @include font(null, $fontSize + 2, #999);
          @include bgDecorate($white, null, 2px, 10px, 1px #eee solid);
          @include displayFlex (flex, flex-start, center);
          margin-bottom: 20px;

          & .icon {
              width: 18px;
              height: 18px;
              margin-right: 5px;
          }
      }

      & li.active {
        @include font(null, $fontSize + 2, #666);
      }
  }
}
