/*
 * author: nancyzeng
 * date:2019/4/17
 */

@charset "UTF-8";

@import './../../../components/button.scss';

html {
  background-color: $greyLight;
}

#setindexPage {

  & .listBox {
    padding: 10px 15px;
    background-color: $white;
    border-bottom: 1px $greyLight solid;
    @include displayFlex (flex, flex-start, center);

    & .left {
      margin-right: 10px;
      @include flexBasis(28px);

      & .ratioBox {
        @include ratioBox (100%, 100%, 1px #e7e7e7 solid, contain, null, null);
        border-radius: 28px;
        overflow: hidden;
        position: relative;

        & .box {
          @include position (absolute, 'tl', 0, 0, 100%, 100%, null);
          @include displayFlex (flex, center, center);

          & img {
            max-width: 100%;
            max-height: 100%;
          }
        }
      }
    }

    & .center {
      line-height: 1.8;
      flex-grow: 1;
      @include textOverflow;

      & .title {
        @include font(null, $fontSize + 1, #333);
        @include textOverflow;
      }
    }

    & .right {
      flex-shrink: 0;

      & .icon {
        width: 14px;
        height: 14px;
        color: #ccc;
      }
    }
  }

  & .listBox.active {
    margin-top: 5px;
  }
}
