/*
 * author: lrf
 * date:2019/12/03
 */

@charset "utf-8";

#redeemGoodsPage {
  overflow: hidden;
  min-height: 100%;
  background: #F5F5F5;
  h3, p {
    margin: 0;
  }
  .propaganda{

  }
  .goods_wrapper {
    margin: 10px 15px 0 15px;
    padding: 10px;
    border-radius: 5px;
    background: #FFFFFF;
    .goods_intro {
      display: flex;
      position: relative;
      text-overflow: ellipsis;
      overflow: hidden;
      .picture {
        display: inline-block;
        position: relative;
        flex-basis: 85px;
        flex-shrink: 0;
        margin: 3px 0 3px 3px;
        height: 85px;
        border-radius: 3px;
        background-size: cover;
        background-repeat: no-repeat;
        .nothing_left {
          position: absolute;
          top: 50%;
          left: 50%;
          transform: translate(-50%, -50%);
          width: 50px;
          height: 50px;
          background: #000000;
          opacity: 0.5;
          border-radius: 50%;
          .text {
            text-align: center;
            width: 50px;
            height: 50px;
            font-size: 12px;
            font-family: PingFang SC;
            font-weight: 500;
            color: #FFFFFF;
            line-height: 50px;
          }
        }
      }
      .content {
        flex: 1;
        display: inline-block;
        position: relative;
        margin-left: 12px;
        .title {
          font-size: 14px;
          font-family: PingFang SC;
          font-weight: 500;
          color: #333333;
          line-height: 18px;
          @include twoColtextOverflow;
          white-space: pre-wrap;
          word-break: break-all;
        }
        .sub_title {
          margin-top: 3px;
          font-size: 12px;
          font-family: PingFang SC;
          font-weight: 500;
          color: #999999;
          height: 18px;
          line-height: 18px;

          overflow : hidden;
          text-overflow: ellipsis;
          display: -webkit-box;
          -webkit-line-clamp: 1;
          -webkit-box-orient: vertical;
          white-space: pre-wrap;
          word-break: break-all;
        }
        .price {
          position: absolute;
          width: 100%;
          right: 0;
          bottom: 3px;
          font-size: 14px;
          font-family: PingFang SC;
          font-weight: bold;
          color: #F05654;
          line-height: 27px;
        }
        .redeem_btn {
          position: absolute;
          right: 0;
          bottom: 0;
          border-radius: 3px;
          width: 80px;
          height: 27px;
        }
        .van-button {
          line-height: 25px;
        }
        .van-button--normal {
          padding: 0;
        }
        .van-button__text {
          width: 55px;
          height: 13px;
          font-size: 14px;
          font-family: PingFang SC;
          font-weight: 500;
          color: #FFFFFF;
        }
      }
    }
    .goods_detail {
      margin-top: 10px;
      font-size: 12px;
      font-family: PingFang SC;
      font-weight: 500;
      color: #666666;
      line-height: 19px;
    }
  }
  .rule {
    margin: 28px 15px 64px 15px;
    font-size: 14px;
    font-family: PingFang SC;
    font-weight: 500;
    color: #333333;
    line-height: 19px;
  }
  .addressPopup {
    width: 74.67%;
    height: 66.56%;
    border-radius: 14px;
    padding: 50px 30px 0;
    overflow: hidden;
    .close {
      position: absolute;
      top: 10px;
      right: 12px;
      font-size: 13px;
      color: #999;
    }
    .addressBox {
      height: 77%;
      overflow-y: auto;
      .addressMember {
        display: flex;
        margin-bottom: 30px;
        align-items: center;
        .default {
          flex-basis: 50px;
        }
        .active {
          .icon {
            color: #f05654;
          }
        }
        .title {
          flex-grow: 1;
        }
      }
    }
    .button {
      display: flex;
      justify-content: space-between;
      margin-top: 25px;
      .addButton {
        flex-grow: 1;
        text-align: center;
      }
      .define {
        flex-grow: 1;
        text-align: center;
      }
      .van-button {
        width: 125px;
      }
      .van-button--primary {
        border-radius: 3px;
        .van-button__text {
          font-size: 15px;
          font-family: PingFang SC;
          font-weight: 500;
          color: #FFFFFF;
        }
      }
      .van-button--default {
        border: 0.5px solid #F05654;
        border-radius: 3px;
        .van-button__text {
          font-size: 15px;
          font-family: PingFang SC;
          font-weight: 500;
          color: #F05654;
        }
      }
    }
  }
  .limit_info {
    overflow: hidden;
    width: 214px;
    height: 214px;
    border-radius: 5px;
    .limit_title {
      margin: 0 auto;
      text-align: center;
      margin-top: 21px;
      width: 186px;
      height: 17px;
      font-size: 15px;
      font-family: PingFang SC;
      font-weight: 500;
      color: #333333;
      line-height: 28px;
      background-size: 186px 17px;
      background-repeat: no-repeat;
      @include bgImageOne('./../../../../assets/redeem/title2');
    }
    .limit_img {
      margin: 0 auto;
      margin-top: 28px;
      width: 105px;
      height: 83px;
      background-size: 105px 83px;
      background-repeat: no-repeat;
      @include bgImageOne('./../../../../assets/redeem/outdated');
    }
    .limit_remind {
      margin-top: 18px;
      text-align: center;
      font-size: 14px;
      font-family: PingFang SC;
      font-weight: 500;
      color: #999999;
      line-height: 34px;
    }
  }
}
