/*
 * author: lrf
 * date:2019/12/03
 */

@charset "utf-8";

#redeemLoginPage {
  h3, p {
    margin: 0;
  }
  .header_wrapper {
    display: flex;
    position: relative;
    text-overflow: ellipsis;
    overflow: hidden;
    padding: 15px;
    .picture {
      display: inline-block;
      position: relative;
      flex-basis: 85px;
      flex-shrink: 0;
      margin: 3px 0 3px 3px;
      height: 85px;
      border-radius: 3px;
      background-size: cover;
      background-repeat: no-repeat;
    }
    .content {
      flex: 1;
      display: inline-block;
      position: relative;
      margin-left: 12px;
      .title {
        font-size: 14px;
        font-family: PingFang SC;
        font-weight: 500;
        color: #333333;
        line-height: 18px;
        @include twoColtextOverflow;
        white-space: pre-wrap;
        word-break: break-all;
      }
      .sub_title {
        margin-top: 3px;
        font-size: 12px;
        font-family: PingFang SC;
        font-weight: 500;
        color: #999999;
        height: 18px;
        line-height: 18px;

        overflow : hidden;
        text-overflow: ellipsis;
        display: -webkit-box;
        -webkit-line-clamp: 1;
        -webkit-box-orient: vertical;
        white-space: pre-wrap;
        word-break: break-all;
      }
      .price {
        position: absolute;
        width: 100%;
        right: 0;
        bottom: 0;
        font-size: 14px;
        font-family: PingFang SC;
        font-weight: bold;
        color: #F05654;
        height: 14px;
        line-height: 14px;
      }
    }
  }
  .spacing_bar {
    height: 10px;
    background: #F5F5F5;
  }
  .main_wrapper {
    .van-cell:not(:last-child):after {
      border: none;
    }
    .van-cell-group {
      width: 317px;
      margin: 0 auto;
    }
    .van-field__control {
      padding: 10px;
      border-bottom: 0.5px solid #ECECEC;
      width: 285px;
      font-size: 14px;
      font-family: PingFang SC;
      font-weight: 500;
      color: #A7A7A7;
      line-height: 20px;
    }
    .van-field:last-child .van-field__control {
      width: 185px;
    }
    .phone_num {

    }

    .van-button--default {
      border: none;
      .van-button__text {
        font-size: 14px;
        font-family: PingFang SC;
        font-weight: 500;
        color: #F05654;
        line-height: 20px;
      }
    }
    .button_wrapper {
      margin: 0 auto;
      margin-top: 38px;
      width: 285px;
      .van-button--primary {
        width: 285px;
        height: 40px;
        border-radius: 3px;
        .van-button__text {
          font-size: 15px;
          font-family: PingFang SC;
          font-weight: 500;
          color: #FFFFFF;
        }
      }
    }
  }
}
