/*
 * author: nancyzeng
 * date:2019/3/14
 */

@import './var.scss';
@import './mixin.scss';
@import './func.scss';
@import './../../style/font/PingFangBold.css';
@import './../font/PingFangMedium.css';

html {
  margin: 0 auto;
  line-height: 1.5;
  @include font("PingFangMedium", $fontSize, #333);
}

a {
  color: #000;
}

*,
img {
  -webkit-tap-highlight-color: transparent;
  -ms-tap-highlight-color: transparent;
  -moz-tap-highlight-color: transparent;
  -o-tap-highlight-color: transparent;
  -webkit-touch-callout: none;
}

img {
  max-width: 100%;
}

/* 字体图标 */
.icon {
  width: 1em;
  height: 1em;
  vertical-align: center;
  fill: currentColor;
  overflow: hidden;
  position: relative;
  top: 3px;
}

// 遮罩
.van-overlay {
  background-color: rgba($color: #000000, $alpha: 0.4);
}

// 弹窗
.van-dialog__confirm, .van-dialog__confirm:active {
  color: $redDark;
}

// 开关
.van-switch--on {
  background-color: $redDark;
}

// 单元格

.van-cell:not(:last-child)::after {
  left: 0;
}

.van-cell__title {
  font-size: $fontSize + 1;
  color: #333;
}

.van-cell__value {
  font-size: $fontSize - 1;
  color: #999;
}

// 滑动单元格
.van-swipe-cell__left,
.van-swipe-cell__right {
  background-color: $redDark;
  width: 65px;
  @include font(null, $fontSize - 2, $white);
  @include displayFlex (flex, center, center);
}

// 商品列表
.listBox {
  @include displayFlex (flex, flex-start, center);

  & .left {
    @include flexBasis(65px);

    & .ratioBox {

      & .box {

        & img {
          max-width: 100%;
          max-height: 100%;
        }
      }
    }
  }

  & .right {

    & .icon {
      width: 14px;
      height: 14px;
      color: #ccc;
    }
  }

  & .center {
    flex-grow: 1;
  }

}

// tab标签页
.van-tabs--line {
  padding-top: 44px;
}

.van-tabs--line .van-tabs__wrap {
  border-bottom: 1px #eee solid;
}

.van-hairline--top-bottom::after {
  border-width: 0;
}

.van-tab {
  @include font(null, $fontSize + 1, #666);
}

.van-tab--active {
  @include font("PingFangBold", $fontSize + 1, #333);
}

.van-tabs__track {
  height: auto;
}

.van-tabs__line {
  background-color: #333;
  height: 2px;
  border-radius: 2px;
  bottom: 20px;
  width: 30%;
}

.van-tabs__line::before {
  content: '';
  position: absolute;
  width: 40%;
  height: 100%;
  left: 0;
  top: 0;
  background-color: $white;
}

.van-tabs__line::after {
  content: '';
  position: absolute;
  width: 40%;
  height: 100%;
  right: 0;
  top: 0;
  background-color: $white;
}

.van-tabs .van-tab__pane {
  // background-color: $white;
}


// 商品导航
.van-goods-action-mini-btn {
  font-size: $fontSize - 2;
  color: #666;
}

// 标签
.van-tag {
  font-size: $fontSize - 2;
}

// 比例图片
.ratioBox {
  position: relative;
  @include ratioBox (100%, 100%, null, contain, $greyLight, null);
  box-shadow: 1px 1px 6px rgba($color: #000000, $alpha: 0.15);

  & .box {
    @include position (absolute, 'tl', 0, 0, 100%, 100%, null);
    @include displayFlex (flex, center, center);

    & img {
      max-width: 100%;
      max-height: 100%;
      display: block;
    }
  }
}

// 步进器
.van-stepper {
  border: 1px #b6b6b6 solid;
}

.van-stepper__minus,
.van-stepper__plus,
.van-stepper__input {
  background-color: $white;
  margin: 0;
}

.van-stepper__input {
  border: 1px #b6b6b6 solid;
  border-width: 0 1px;
  color: #999;
}

.van-stepper__minus::after,
.van-stepper__minus::before,
.van-stepper__plus::after,
.van-stepper__plus::before {
  background-color: #666;
}

.van-stepper__minus--disabled::after,
.van-stepper__minus--disabled::before,
.van-stepper__plus--disabled::after,
.van-stepper__plus--disabled::before {
  background-color: #ccc;
}

// 提交订单栏
.van-submit-bar__text {
  @include font("PingFangBold", $fontSize, #333);
}

.van-submit-bar__price {
  color: $redDark;
}

.van-button--danger {
  border-color: $redDark;
  background-color: $redDark;
}

.deleteBox {
  & .van-button--large {
    height: 35px;
    line-height: 35px;
    color: $redDark;
    margin-right: 15px;
    border: none;
    border: 1px $redDark solid;
    border-radius: 35px;
    width: 90px;
  }
}

.van-button--warning {
  border-color: $orangeDark;
  background-color: $orangeDark;
}

// confirm
.van-dialog__header {
  padding: 10px 0;
  border-bottom: 1px #eee solid;
  @include font(null, $fontSize + 1, #333);
}

[class*=van-hairline]::after {
  border-color: #999;
}

.van-hairline--top::after {
  border-width: 0;
}

.van-hairline--left::after {
  border-width: 0;
}

// 密码输入框
.van-password-input {
  margin: 0;
}

// 空
.nullBox {
  & img {
    width: 100%;
    margin-top: 100px;
    margin-bottom: 50px;
  }

  text-align: center;
  font-size: $fontSize+1;
  color: #000;
}

.van-cell__right-icon {
  color: #999;
}

// iphonex
.van-goods-action {
  z-index: 1;
}

#miniAudio.isShow {
  opacity: 1;
  display: block;
}

#miniAudio {
  opacity: 0;
  display: none;
}

// button
.van-button:before {
  display: none;
}

.bottomBox {
  @include position (fixed, 'bl', 0, 0, 100%, 50px, 0);

  & .van-button {
    border-radius: 0;
  }
}
.van-tag--round {
  border-radius: 1em;
}
.van-tag--round:after {
  border-radius: 2em;
}

.iphx {
  @include position (fixed, 'bl', 0, 0, 100%, 50px, 0);
  padding-bottom: 34px;
  background-color: $white;
}

.van-popup--bottom {
  border-left: 1px #fff solid;
}

// 步进器
.van-stepper__input[disabled] {
  background-color: $white;
  color: #333;
}

.van-stepper__minus--disabled:after, .van-stepper__minus--disabled:before, .van-stepper__plus--disabled:after, .van-stepper__plus--disabled:before {
  background-color: #666;
}
