/*
 * author: nancyzeng
 * date:2019/3/14
 */

@import './var.scss';
@import './mixin.scss';
@import './func.scss';


.van-overlay {
  background-color: rgba($color: #000000, $alpha: 0.4);
}

.page {
  margin-bottom: 34px;
  box-sizing: border-box;
}

.bottomBox {
  @include position (fixed, 'bl', 0, 0, 100%, 50px, 0);
}
.bottomBox.iphx {
  @include position (fixed, 'bl', 34px, 0, 100%, 50px, 0);
}