/*
 * author: nancyzeng
 * date:2019/3/14
 */

@charset "UTF-8";

// 字体
$fontSize: 14px;

// 颜色
$redLight: #fb605e;
$redDark: #f05654;
$greenLight: #3eb134;
$white: #fff;
$greyLight: #f5f5f5;
$greyDark: #c8c8c8;
$orangeLight: #e7987c;
$orangeDark: #f08054;
$blueDark: blue;

//字体颜色
$cl0:#000;
$cl3:#333;
$cl6:#666;
$cl9:#999;
$clC:#ccc;
